// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
// BASE FRAMEWORK
@import '../bower_components/uikit/less/uikit.less';
// GLOBAL VARIABLES
@blue: #165C96;
@orange: #FE7B00;
@white: #FFF;
@darkgray: #444444;
@gray: #E4E4E4;
@lightgray: #F0F0F0;
@lightergray: #C9C9C9;
@dimgray: #747474;
@hvr-blue: #053C69;
@hvr-orange: #C45F00;
@lighergray: #BBBBBB;
@main-font: 'Montserrat';
@secondary-font: 'Roboto';
@darkorange: #DC6A00;
@default-font-size: 16px;
@font-regular: 400;
@font-light: 300;
@font-lighter: 200;

/* Media Queries Area */

@width-320: ~"only screen and (min-width: 320px)";
@width-360: ~"only screen and (min-width: 360px)";
@width-480: ~"only screen and (min-width: 480px)";
@width-640: ~"only screen and (min-width: 640px)";
@width-690: ~"only screen and (min-width: 690px)";
@width-768: ~"only screen and (min-width: 768px)";
@width-768m: ~"screen and (max-width: 768px)";
@width-960: ~"only screen and (min-width: 960px)";
@width-1024: ~"only screen and (min-width: 1024px)";
@width-1200: ~"only screen and (min-width: 1200px)";
@width-1366: ~"only screen and (min-width: 1366px)";
// MAX WIDTH AREA
@width-320max: ~"only screen and (max-width: 320px)";
@width-960max: ~"only screen and (max-width: 690px)";
@width-767max: ~"only screen and (max-width: 767px)";

/* End Media Queries Area */

// FRAMEWORK OVERRIDES
html {
    font-family: @main-font;
    background: @lightgray;
}

body {
    overflow-x: hidden;
    background-color: @lightgray;
    font-family: @main-font !important;
}

h1 {
    font-weight: @font-light;
    text-transform: uppercase;
}

h2 {
    font-weight: @font-regular;
    font-family: @secondary-font;
    text-transform: uppercase;
}

h3 {
    font-weight: @font-light;
    color: @blue;
    text-transform: uppercase;
    font-family: @main-font !important;
}

h4 {
    font-weight: @font-regular;
    font-family: @secondary-font;
    text-transform: uppercase;
}

h5 {
    font-weight: @font-light;
    text-transform: uppercase;
}

// SITE-WIDE STYLES & MIXINS
.soft-transition() {
    transition: all 0.4s ease;
}

// global thin line separator
.separator {
    border-bottom: 1px solid @gray;
}


/* Contact Field Area Styles */

.contact-field() {
    width: 93%;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    border: @white 1px solid;
    font-size: 14px;
    font-family: @secondary-font;
    font-weight: normal;
    .soft-transition();
    &:placeholder {
        color: @lighergray;
    }
    &:focus {
        border-bottom: @orange 1px solid;
        outline: inherit;
        box-shadow: 0 5px 20px -6px @orange;
    }
}


/* End Contact Field Area Styles */


/* Orange Link Area Styles */

.orange-link() {
    color: @orange;
    .soft-transition();
    &:hover {
        color: @hvr-orange;
        text-decoration: none;
    }
}


/* Orange Link Area Styles */


/* Square Hexagon Title */
.triangle-down-orange() {
	position: absolute;
	left: 0;
	right: 0;
	top: 55px;
	width: 50%;
	height: 0;
	padding-left: 50%;
	padding-top: 10%;
	overflow: hidden;
	box-sizing: content-box;
	&:after {
		box-sizing: content-box;
		content: "";
		display: block;
		width: 0;
		height: 0;
		margin-left: -1000px;
		margin-top: -200px;
		border-left: 1000px solid transparent;
		border-right: 1000px solid transparent;
		border-top: 200px solid @orange;
	}
}
.triangle-down-blue() {
	position: absolute;
	left: 0;
	right: 0;
	top: 55px;
	width: 50%;
	height: 0;
	padding-left: 50%;
	padding-top: 10%;
	overflow: hidden;
	box-sizing: content-box;
	&:after {
		box-sizing: content-box;
		content: "";
		display: block;
		width: 0;
		height: 0;
		margin-left: -1000px;
		margin-top: -200px;
		border-left: 1000px solid transparent;
		border-right: 1000px solid transparent;
		border-top: 200px solid @blue;
	}
}

.plan-title-blue() {
    width: auto;
    height: 55px;
    background: @blue;
    color: @white;
    position: relative;
    h3 {
        padding: 20px 0 0 0;
        font-family: @main-font;
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        color: @white;
    }
    // &::after {
    //     content: "";
    //     position: absolute;
    //     bottom: -25px;
    //     left: 3px;
    //     width: 0;
    //     height: 0;
    //     border-left: 100px solid transparent;
    //     border-right: 100px solid transparent;
    //     border-top: 25px solid @blue;
    // }
}

.plan-title-orange() {
    width: auto;
    height: 55px;
    background: @orange;
    color: @white;
    position: relative;
    h3 {
        padding: 20px 0 0 0;
        font-family: @main-font;
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        color: @white;
    }
    // &::after {
    //     content: "";
    //     position: absolute;
    //     bottom: -25px;
    //     left: 3px;
    //     width: 0;
    //     height: 0;
    //     border-left: 100px solid transparent;
    //     border-right: 100px solid transparent;
    //     border-top: 25px solid @orange;
    // }
}


/* End Square Hexagon Title */


/* Title Underline Style */

.line-title() {
    width: 50px;
    margin: 30px auto auto;
    border: solid 1px @darkgray;
}


/* End Title Underline Style */


/* Global Button Area Styles */

.btn-transparent-blue() {
    width: 109.1px;
    height: 36.6px;
    border-radius: 3px;
    border: solid 1px @white;
    background-color: @blue;
    font-size: 14px;
    text-align: center;
    color: @white;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0.1s;
    &::before {
        content: '';
        color: @white;
        background-color: @orange;
        width: 0%;
        height: 0%;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        .soft-transition();
    }
    &:hover {
        background-color: @orange;
        border: solid 1px @orange;
        color: @white;
        &::before {
            width: 150%;
            height: 150%;
            top: -25%;
            left: -25%;
            opacity: 0;
        }
    }
}

.btn-white() {
    width: 109.1px;
    height: 36.6px;
    border-radius: 3px;
    border: solid 1px @orange;
    background-color: @white;
    font-size: 14px;
    text-align: center;
    color: @orange;
    position: relative;
    overflow: hidden;
    font-family: @secondary-font;
    transition: all 0.4s ease-in-out 0.1s;
    &::before {
        content: '';
        color: @white;
        background-color: @orange;
        width: 0%;
        height: 0%;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        .soft-transition();
    }
    &:hover {
        background-color: @orange;
        color: @white;
        &::before {
            width: 150%;
            height: 150%;
            top: -25%;
            left: -25%;
            opacity: 0;
        }
    }
}

.btn-orange() {
    width: 159px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid @orange;
    background-color: @orange;
    font-size: 14px;
    text-align: center;
    color: @white;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0.1s;
    font-family: @secondary-font;
    &::before {
        content: '';
        background-color: @hvr-orange;
        width: 0%;
        height: 0%;
        border-radius: 50%;
        color: @white;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        .soft-transition();
    }
    &:hover {
        background-color: @hvr-orange;
        border: 1px solid @hvr-orange;
        &::before {
            width: 150%;
            height: 150%;
            top: -25%;
            left: -25%;
            opacity: 0;
        }
    }
}

.btn-blue() {
    width: 110px;
    height: 37px;
    border-radius: 3px;
    border: 1px solid @blue;
    background-color: @blue;
    font-size: 14px;
    text-align: center;
    color: @white;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0.1s;
    font-family: @secondary-font;
    &::before {
        content: '';
        background-color: @hvr-blue;
        width: 0%;
        height: 0%;
        border-radius: 50%;
        color: white;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        .soft-transition();
    }
    &:hover {
        background-color: @hvr-blue;
        border: 1px solid @hvr-blue;
        &::before {
            width: 150%;
            height: 150%;
            top: -25%;
            left: -25%;
            opacity: 0;
        }
    }
}


/* Global End Button Area Styles */


/* Link Hover animations */

.link-animation-blue-bg() {
    display: inline-block;
    color: @white;
    text-decoration: none !important;
    &:after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: @white;
        transition: width 0.3s;
        .soft-transition();
    }
    &:hover {
        color: @white;
    }
    &:hover:after {
        width: 100%;
    }
}

.link-animation-gray-bg() {
    display: inline-block;
    color: @darkgray;
    text-decoration: none !important;
    &:after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: @darkgray;
        transition: width 0.3s;
        .soft-transition();
    }
    &:hover {
        color: @darkgray;
    }
    &:hover:after {
        width: 100%;
    }
}


/* End Link Hover animations */

/* cirle img and blur effects */
.circle-img() {
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
    border-radius: 100px;
    background-color: @white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    border: solid 3px @white;
}
.circle-img-lg() {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: @white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    border: solid 3px @white;
}

.blur-effect-bg(){
    width: 212px;
    height: 153px;
    filter: blur(2px);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(62, 62, 62, 0.45) 67%, rgba(0, 0, 0, 0.6));
}
/* cirle img */
// GLOBAL PAGE SECTIONS

/* Site Menu, Site Footer, etc. */


/* SEARCH BANNER AREA STYLES */

#search-banner-section {
    height: auto;
    .uk-container {
        margin: 0 auto;
    }
    .form-container {
        margin: 0 auto;
        text-align: center;
    }
    .search-banner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        @media @width-767max {
            padding: 100px 0 150px;
        }
        .search-banner-title {
            padding-bottom: 20px;
        }
        h1 {
            font-family: @main-font;
            font-size: 30px;
            font-weight: 300;
            text-align: center;
            color: @white;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
        }
        p {
            width: 128px;
            font-family: @secondary-font;
            font-size: 16px;
            line-height: 1.38;
            text-align: left;
            color: @white;
            font-weight: @font-regular;
            margin: 0 0 5px 0;
        }
        ul {
            list-style: none;
            margin: 0 auto;
            padding: 0;
            @media @width-768 {
                display: inline-flex;
                li {
                    padding: 10px;
                }
            }
        }
        form {
            input {
                .contact-field();
                color: @lighergray;
                width: 260px;
                height: 50px;
                padding-left: 50px!important;
                @media @width-768 {
                    width: 200px;
                }
                @media @width-960 {
                    width: 310px;
                }
            }
            .search-input {
                margin-top: -10px;
                span {
                    color: @darkgray;
                    font-size: 20px;
                    top: 56%;
                    left: 5%;
                }
            }
            .find-btn {
                .btn-orange();
            }
        }
        .btn-find-con {
            position: relative;
            @media @width-768 {
                top: 17px;
            }
        }
    }
}


/* END SEARCH BANNER AREA STYLES */


/* ABOUT SECTION AREA STYLES */


/* ABOUT SECTION OVERLAPED AREA STYLES */

#overlaped-section {
    max-width: 85%;
    @media @width-768 {
        max-width: 70%;
        max-height: 245px;
    }
    margin: 0 auto;
    height: auto;
    background-color: @white;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    transform: translateY(-50%);
    .uk-container {
        margin: 0 auto;
    }
    .overlay-container {
        margin: 20px 0 20px 0;
        @media @width-768 {
            padding: 20px;
        }
        text-align: center;
        .divider-title {
            .line-title();
        }
        h3 {
            text-align: center;
            font-size: 24px;
            line-height: 1.3;
        }
        p {
            width: auto;
            font-family: @secondary-font;
            font-size: @default-font-size;
            line-height: 1.38;
            text-align: center;
            color: @darkgray;
            padding-top: 15px;
            margin: 0 auto;
        }
    }
}


/* END ABOUT SECTION OVERLAPED AREA STYLES */

#about-section {
    position: relative;
    background-color: @blue;
    .uk-grid {
        margin: 0 auto;
    }
    .uk-container {
        margin: 0 auto;
    }
    .blurb-container {
        padding: 0 15px;
    }
    .about-container {
        margin: 0 auto 95px;
    }
    .about-blurb {
        text-align: center;
        display: block;
        h5 {
            color: @white;
            font-size: 18px;
        }
        p {
            color: @white;
            font-size: @default-font-size;
            font-weight: @font-regular; // width: 180px;
        }
        span {
            width: 24px;
            height: 24px;
            font-family: FontAwesome;
            font-size: 24px;
            text-align: center;
            color: @white;
        }
    }
}


/* END ABOUT SECTION AREA STYLES */


/* FEATURED LISTERS SECTION AREA STYLES */

#featured-listers-section {
    background-color: @white;
    padding: 80px 0 100px 0;
    .uk-container {
        margin: 0 auto;
    }
    h3 {
        text-align: center;
        font-family: @main-font;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
    }
    .divider-title {
        .line-title();
    }
    .profile-img {
        width: 100%;
    }
    .feat-list-arrow {
        .btn-white();
        width: 37px;
        outline: none;
    }
    .uk-slidenav.uk-slidenav-previous,
    .uk-slidenav.uk-slidenav-next {
        display: block;
        color: @orange;
        .soft-transition();
        &:hover {
            color: @hvr-orange;
        }
    } // .uk-slidenav-previous {
    //     left: 100px;
    // }
    .hover-list {
        opacity: 0;
    }
    .uk-panel.uk-panel-box {
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid rgba(0, 0, 0, 0.16);
        .soft-transition();
        &:hover {
            .hover-list {
                opacity: 1;
            }
        }
    }
    ul {
        display: block;
        list-style: none;
        margin: 0 auto;
        text-align: center;
        padding: 0;
    }
    .feat-content-area {
        position: relative;
        top: 30%;
        bottom: 50%;
    }
    .feat-info {
        h5 {
            font-family: @main-font;
            font-size: 20px;
            font-weight: 300;
            text-align: center;
            color: @blue;
            margin: 25px 0 -10px 0;
        }
        p {
            font-family: @secondary-font;
            font-size: @default-font-size;
            line-height: 1.38;
            text-align: center;
            color: @darkgray;
        }
    }
    .feat-listers-cover {
        .soft-transition();
        &:hover {
            .feat-info {
                display: none;
            }
        }
    }
    .uk-overlay-panel {
        .soft-transition();
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
    .uk-slidenav {
        font-size: 25px;
        text-align: center;
        border-radius: 3px;
        border: solid 2px @orange;
    }
    .feat-content-hvr {
        .soft-transition();
        h5 {
            font-family: @main-font;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            color: @blue;
        }
        p {
            font-family: @secondary-font;
            font-size: @default-font-size;
            line-height: 1.38;
            text-align: center;
            color: @darkgray;
        }
    }
    .feat-list-nav {
        position: relative;
        top: 30px;
        float: right;
        @media @width-768 {
            top: 50px;
        }
    }
    .feat-profiles {
        padding-top: 29px;
        margin: 0 auto;
        .feat-content-hvr {
            border: 2px solid #165C96;
            height: 100%;
        }
        .feat-lister-btn-container {
            position: relative;
            left: 0;
            right: 0;
            top: 10px;
            text-align: center;
        }
        .feat-listers-sms-btn {
            .btn-orange();
            width: 109.1px;
            height: 36.6px;
            margin-bottom: 12px;
        }
        .feat-listers-info-btn {
            .btn-white();
        }
    }
}


/* END FEATURED LISTERS SECTION AREA STYLES */

#blog-call-section {
    background-color: @lightgray;
    padding: 20% 0 25% 0;
    @media @width-768 {
        padding: 50px 0 100px 0;
    }
    @media @width-1024 {
        padding-bottom: 15%;
    }
    height: auto;
    h3 {
        text-align: center;
        font-family: @main-font;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
    }
    .uk-container {
        margin: 0 auto;
    }
    .divider-title {
        .line-title();
    }
    .mobile-blog-article {
        margin-top: 25px;
        padding: 0;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
    }
    .mobile-blog-call {
        text-align: center;
    }
    .uk-article {
        margin: 14px;
        .uk-article-title {
            font-family: @main-font;
            font-size: 18px;
            font-weight: 300;
            color: @darkgray;
            text-align: left;
            line-height: 1;
        }
        .uk-article-meta {
            font-family: @secondary-font;
            font-size: @default-font-size;
            line-height: 1.38;
            margin-top: -8px;
            margin-bottom: -25px;
            text-align: left;
            color: @darkgray;
        }
        .date-category {
            list-style: none;
            display: flex;
            margin: 0px 25px 0px -50px;
            li {
                padding-left: 20px;
                p,
                a {
                    font-family: @secondary-font;
                    font-size: 12px;
                    text-align: right;
                    color: #165c96;
                }
            }
        }
        .blog-call-readmore {
            .btn-orange();
            text-decoration: none;
            padding: 8px;
        }
        .readmore-link {
            position: relative;
            right: 0;
            top: 45px;
            bottom: 0;
            text-align: left;
        }
        p {
            font-family: @secondary-font;
            font-size: 12px;
            text-align: right;
            color: #adadad;
        }
    }
    .visit-blog-container {
        position: relative;
        text-align: center;
        top: 25px;
        bottom: 0;
        @media @width-768 {
            top: 80px;
        }
        .visit-blog-btn {
            .btn-white();
            background-color: @lightgray;
            padding: 10px 25px 10px 25px;
            text-decoration: none;
        }
    } //with pagination css
    .uk-pagination>.uk-active>span {
        background: @orange;
        color: @white;
    }
    .uk-pagination>li>a {
        background: transparent;
        color: @orange;
        border-radius: 3px;
        border: solid 1px @orange;
        font-family: @secondary-font;
        font-size: 12px;
    }
    .uk-pagination>li>span {
        font-family: @secondary-font;
        font-size: 12px;
        color: @orange;
    }
    .uk-pagination {
        width: 230px;
    }
    .uk-pagination-previous,
    .uk-pagination-next {
        .soft-transition();
        &:hover {
            a {
                color: @white;
            }
            background-color: @orange;
            border-radius: 3px;
        }
    } //Search Blog css
    .blog-search-result {
        margin-top: -60px;
        @media @width-768 {
            margin-top: 0;
            padding-left: 20px;
        }
        p {
            width: 140px;
            height: 32px;
            font-family: @secondary-font;
            font-size: 12px;
            text-align: left;
            color: @darkgray;
            @media @width-768 {
                width: auto;
            }
        }
        a {
            font-size: 14px;
            font-style: italic;
            color: @orange;
            .soft-transition();
            text-decoration: none;
            &:hover {
                color: @hvr-orange;
            }
        }
        .uk-form {
            @media @width-768 {
                margin-top: -55px;
            }
            text-align: right;
            select {
                width: 93px;
                height: 27px;
                border-radius: 3px;
                background-color: #e4e4e4 !important;
                color: @darkgray !important;
                font-family: @secondary-font !important;
                font-size: 10px;
                text-align: center;
            }
        }
    }
}


/* BLOG CALL SECTION AREA STYLES */


/* SUBSCRIBER CALL TO ACTION  AREA STYLES */

#subscriber-cta-section {
    padding: 25px 0 25px 0;
    .subscriber-cta-container {
        padding: 80px 0 80px 0;
        @media @width-960 {
            padding: 50px 0 50px 0;
        }
        text-align: center;
        .cta-content {
            padding: 0 15px 0 15px;
            text-align: center;
            h3 {
                font-family: @main-font;
                font-size: 36px;
                font-weight: 300;
                text-align: center;
                color: @white;
                line-height: 1;
                text-transform: initial;
            }
            p {
                font-family: @secondary-font;
                font-size: 18px;
                line-height: 1.67;
                text-align: center;
                color: @white;
                @media @width-960 {
                    width: 490px;
                    margin: 0 auto;
                    margin-bottom: 50px;
                }
            }
        }
        .cta-btn {
            position: relative;
            .cta-join-btn {
                .btn-orange();
                width: 220px;
                font-size: 20px;
            }
        }
    }
}


/* END SUBSCRIBER CALL TO ACTION  AREA STYLES */


/* ADS AREA STYLES */

#adver-section {
    height: 50%;
    .uk-container {
        margin: 0 auto;
    }
    .adver-img {
        margin: 0 auto;
        padding: 30px 0 30px 0;
        width: 256px;
        height: 213.2px;
        @media @width-768 {
            width: auto;
            height: 116px;
        }
    }
    .ads-lg {
        padding-bottom: 25px;
    }
}


/* END ADS AREA STYLES */


/* END BLOG CALL SECTION AREA STYLES */


/* BREADCRUMB AREA STYLES */

#breadcrumb-section {
    background-color: @lightgray;
    height: 50px;
    padding: 100px 0 0 0;
    text-align: left;
    .uk-container {
        margin: 0 auto;
    }
    a {
        font-family: @secondary-font;
        font-size: 12px;
        text-align: center;
        color: @darkgray;
        text-decoration: none;
        .soft-transition();
        &:active {
            color: @orange;
        }
        &:hover {
            color: @hvr-orange;
        }
    }
    span {
        .orange-link();
        font-family: @secondary-font;
        font-size: 12px;
    }
    .uk-breadcrumb>li:nth-child(n+2)::before {
        content: "\f054";
        /* chevron-right */
        font-family: Fontawesome;
        font-size: 12px;
    }
}


/* END BREADCRUMB AREA STYLES */


/* BLOG SEARCH AREA STYLES */

#blogsearch-section {
    background-image: linear-gradient(to top, #165c96, #3382c4);
    .uk-container {
        margin: 0 auto;
    }
    .blogsearch-container {
        padding: 50px 0 50px 0;
        text-align: center;
        h3 {
            font-family: @main-font;
            font-size: 24px;
            font-weight: 300;
            text-align: center;
            color: @gray;
            text-transform: uppercase;
        }
        .divider-title {
            .line-title();
            border: solid 1px @gray;
        }
        form {
            padding: 20px 0 0 0;
            input {
                .contact-field();
                width: 80%;
                height: 40px;
                @media @width-768 {
                    width: 391.4px;
                }
                &::placeholder {
                    color: @lighergray;
                }
            }
            .blogsearch-btn {
                .btn-orange();
                position: relative;
                top: -4px;
                left: -8px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                width: 40px;
                height: 40px;
                cursor: pointer;
                span {
                    color: @white;
                }
                @media @width-768 {
                    width: 50px;
                }
            }
        }
        .categories {
            padding: 20px 0 0 0;
            p {
                display: inline;
                margin-top: 1em;
                margin-bottom: 1em;
                margin: 0 auto;
            }
            a {
                color: @gray;
                text-decoration: none;
                font-family: @secondary-font;
                font-size: 14px;
                text-align: right;
                .soft-transition();
                &:hover {
                    color: @orange;
                }
            }
        }
    }
}


/* END BLOG SEARCH AREA STYLES */


/* LISTING LAYOUTS AREA STYLES */


/* END LISTING LAYOUTS AREA STYLES */


/* SITE FOOTER AREA STYLES */

footer {
    background: @gray;
    padding: 37px 0 0 0;

    .uk-container {
        margin: 0 auto;
        padding: 0;
    }
    h6 {
        font-size: @default-font-size - 2;
        font-weight: @font-light;
    }
    .footer-navigation {
        padding: 0 30px 0 30px;
        @media @width-1366 {
            padding: 0;
        }
        margin-bottom: 35px;
        ul {
            list-style: none;
            padding: 0px;
            li {
                margin-bottom: 5px;
                a {
                    color: @darkgray;
                    font-size: @default-font-size - 4;
                    .soft-transition();
                    text-decoration: none;
                    font-weight: @font-light;
                    &.subscribe {
                        .orange-link();
                    }
                }
            }
        }
    }
    .footer-contact {
        padding: 0 30px 0 30px;
        form {
            margin-bottom: 35px;
            .field {
                width: 100%;
                height: auto;
                input {
                    height: 30px;
                    .contact-field();
                    &::placeholder {
                        color: @lighergray;
                    }
                }
                textarea {
                    .contact-field();
                    padding: 10px 10px;
                    &::placeholder {
                        color: @lighergray;
                    }
                }
            }
            .submit-btn {
                .btn-white();
                background-color: @gray;
            }
        }
    }
    .footer-contact-info {
        padding: 0 30px 40px 30px;
        @media @width-1366 {
            padding: 0;
        }
        p {
            font-size: @default-font-size - 2;
            font-weight: @font-light;
            line-height: 22px;
        }
        ul {
            padding: 0;
            list-style: none;
            @media @width-768 {
                line-height: 3;
            }
            li {
                display: inline-block;
                width: auto;
                margin-right: 5px;
                a {
                    background: @darkgray;
                    border-radius: 15px;
                    padding: 6px;
                    .soft-transition();
                    span {
                        width: 20px;
                        text-align: center;
                        color: @white;
                    }
                    &:hover {
                        background: @orange;
                        span {}
                    }
                }
            }
        }
    }
    .main-footer {
        background: @darkgray;
        padding: 20px;
        .copyright {
            text-align: center;
            img {
                width: 220px;
            }
            p {
                color: @white;
                font-size: @default-font-size - 6;
                font-weight: @font-light;
                margin: 0;
                font-family: @secondary-font;
            }
        }
        .url {
            text-align: center;
            line-height: 7px;
            @media @width-768 {
                display: none;
            }
            a {
                .link-animation-blue-bg();  
                font-family: @secondary-font;
                font-size: @default-font-size - 6;
                line-height: 1.5;
                text-align: center;
                color: @white;
            }
        }
        .share-icons {
            text-align: center;
            @media @width-767max {
                padding-top: 20px;
            }
            p {
                color: @white;
                font-size: @default-font-size - 4;
                font-weight: @font-light;
                margin: 0;
                font-family: @secondary-font;
                @media @width-768 {
                    display: inline-block;
                    margin-right: 15px;
                }
            }
            ul {
                padding: 0;
                list-style: none;
                @media @width-768 {
                    display: inline-block;
                }
                li {
                    display: inline-block;
                    width: auto;
                    margin-right: 5px;
                    a {
                        display: block;
                        background: @white;
                        border-radius: 15px;
                        padding: 6px;
                        .soft-transition();
                        span {
                            width: 20px;
                            text-align: center;
                            color: @darkgray;
                        }
                        &:hover {
                            background: @orange;
                            span {}
                        }
                    }
                }
            }
        }
    }
}


/* FOOTER MODAL AREA STYLES */

#subscribe-modal {
    h3 {
        font-size: 26px;
        font-weight: 300;
        text-align: center;
        line-height: 1;
        color: @white;
        text-transform: uppercase;
        margin: 36px;
        @media @width-768 {
            margin: 60px;
        }
    }
    p {
        margin-top: 30px;
        font-size: 18px;
        font-weight: @font-regular;
        font-style: normal;
        line-height: 1.67;
        text-align: center;
        font-family: @secondary-font;
    }
    .uk-close {
        font-family: material !important;
        font-size: 24px;
        font-weight: 100;
        text-align: center;
        color: @lightergray;
    }
    .subs-modal-header {
        margin-bottom: 15px;
        margin: -20px -20px 15px -20px;
        padding: 20px;
        height: 130px !important;
        background-image: linear-gradient(to top, @blue, #3382c4);
    }
    @media @width-768 {
        .subs-container {
            margin: 32px;
        }
    }
    .join-now-btn {
        .btn-orange();
        width: 100%;
        height: 50px;
        @media @width-768 {
            width: 150px;
            position: relative;
            top: -4px;
            left: 10px;
        }
    }
    .subs-form {
        margin: 30px 0 0 0px;
        text-align: center;
        input {
            .contact-field();
            width: 100%;
            height: 50px;
            border: solid 1px @gray;
            @media @width-768 {
                width: 50%;
            }
        }
    }
}


/* END FOOTER MODAL AREA STYLES */


/* END SITE FOOTER AREA STYLES */


/* SITE MENU AREA STYLES */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    .mobile-menu {
        background: @blue;
        .logo {
            padding: 15px 0 14px 20px;
            img {
                width: 186px;
                margin-left: 20px;
            }
        }
        .menu {
            text-align: right;
            padding: 10px 20px 10px 0;
            a {
                span {
                    position: relative;
                    top: 7px;
                    .soft-transition();
                    font-size: 26px;
                    color: @white;
                }
                &:hover {
                    span {
                        color: @orange;
                    }
                }
            }
        }
        .uk-offcanvas-bar {
            width: 160px;
            background: @blue;
            .uk-close {
                position: absolute;
                right: 15px;
                top: 13px;
                font-size: @default-font-size + 8px;
                color: @darkorange;
                opacity: 1;
                .soft-transition();
                &:hover {
                    opacity: 0.8;
                }
            }
            .menulist {
                padding-top: 50px;
                text-align: center;
                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        .desktop-links {
                            .link-animation-blue-bg();
                        }
                        a {
                            font-weight: @font-lighter;
                            color: @white;
                            font-size: @default-font-size;
                            padding: 12px 20px;
                            text-align: center;
                            display: block;
                            text-decoration: none;
                            .soft-transition();
                        }
                        &.profile-img-mobile{
                            text-align: center;
                            padding-top: 12px;
                            margin: 0 17px 10px 17px;
                            border-bottom: 1px solid @white;
                            figure{
                                width: 30px;
                                height: 30px;
                                display: inline-block;
                                vertical-align: top;
                                border-radius: 50%;
                                overflow: hidden;
                            }
                            span{
                                display: inline-block;
                                margin: 8px 0 0 8px;
                                color: @white;
                            }
                        }
                        &.dashboard-menu{
                            ul.subnav{
                                padding-left: 40px;
                                a{
                                 color: @lightergray;
                                 font-size: @default-font-size - 2;
                                 font-weight: @font-lighter;
                                 padding: 5px;
                             }
                         }
                         a{
                            display: block;
                            text-align: left;
                            font-size: @default-font-size;
                            color: @white;
                            font-weight: @font-lighter;
                            padding: 5px 20px 5px 30px;
                        }
                    }
                }
            }
            a.list-services-btn {
                .btn-transparent-blue();
                padding: 8px;
                text-decoration: none;
            }
        }
    }
}
.desktop-menu {
    background: @blue;
    .uk-container {
        margin: 0 auto;
        .logo {
            padding: 10px 0 10px 20px;
            img {
                width: 240px;
            }
        }
        .menulist {
            text-align: right;
            padding: 20px 20px 15px 0;
            ul {
                width: auto;
                display: inline-block;
                list-style: none;
                margin: 0;
                li {
                    display: inline-block;
                    width: auto;
                    .desktop-links {
                        .link-animation-blue-bg();
                    }
                    a {
                        font-weight: @font-lighter;
                        color: @white;
                        font-size: @default-font-size;
                        text-align: center;
                        .soft-transition();
                        padding: 5px 0px;
                        text-decoration: none;
                            margin: 0 10px; // &.active {
                            //     border-bottom: solid 2px @white;
                            // }
                        } 
                        &.profile-img-desktop{
                            position: relative;
                            padding-left: 60px;
                            .logged{
                                position: absolute;
                                top: -22px;
                                left: 7px;
                                a.proflink{
                                    position: relative;
                                    margin: 0;
                                    figure{
                                        width: 30px;
                                        height: 30px;
                                        margin: 0;
                                        vertical-align: top;
                                        border-radius: 50%;
                                        overflow: hidden;
                                    }
                                    span{
                                        position: absolute;
                                        margin-top: -23px;
                                        left: 43px;
                                    }
                                }
                                .uk-dropdown-bottom, .uk-dropdown{
                                    background: @lightgray;
                                    margin-top: 19px;
                                    border-radius: 5px;
                                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                                    left: -140px !important;
                                    li{
                                        width: 100%;
                                        a{
                                            display: block;
                                            text-align: left;
                                            font-size: @default-font-size;
                                            color: @darkgray;
                                            font-weight: @font-lighter;
                                            &:hover{
                                                background: transparent;
                                            }
                                        }
                                        ul.subnav{
                                            a{
                                                color: @dimgray;
                                                font-size: @default-font-size - 2;
                                                font-weight: @font-lighter;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                a.list-services-btn {
                    .btn-transparent-blue();
                    padding: 8px;
                    text-decoration: none; 
                }
            }
        }
    }
}

// .uk-grid {
//     margin: 0;
// }

/* LOGIN MODAL AREA STYLES */

#login-modal {
    h3 {
        font-family: @main-font;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        color: @blue;
        padding-top: 30px;
        text-transform: uppercase;
    }
    .uk-modal-dialog {
        background-color: @white;
        height: 370px;
    }
    .divider-title {
        .line-title();
    }
    a.uk-modal-close.uk-close {
        font-size: 24px;
        text-align: center;
        color: @gray;
    }
    .log-in-form.uk-form {
        margin-top: 35px;
        input {
            .contact-field();
            border: solid 1px @lightergray;
            height: 40px;
            width: 100%;
        }
        a {
            .orange-link();
            float: right;
            margin-top: -51px;
            width: 64px;
            height: 28px;
            font-family: @secondary-font;
            font-size: 12px;
            text-align: right;
            color: @orange;
        }
        .login-btn-container {
            padding-top: 20px;
            .login-btn {
                .btn-orange();
                width: 109.1px;
                height: 36.6px;
            }
        }
    }
    .login-account {
        font-family: @darkgray;
        font-size: 12px;
        text-align: center;
        color: @darkgray;
        margin: 0 auto;
        a {
            .orange-link();
        }
    }
}


/* LOGIN MODAL AREA STYLES */


/* END SITE MENU AREA STYLES */