// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
// BASE FRAMEWORK
@import '../bower_components/uikit/less/uikit.less';
// GLOBAL VARIABLES
@blue: #165C96;
@orange: #FE7B00;
@white: #FFF;
@darkgray: #444444;
@gray: #E4E4E4;
@lightgray: #F0F0F0;
@hvr-blue: #053C69;
@hvr-orange: #C45F00;
@lighergray: #BBBBBB;
@main-font: 'Montserrat';
@secodary-font: 'Roboto';
@darkorange: #DC6A00;
@default-font-size: 16px;
@font-regular: 400;
@font-light: 300;
@font-lighter: 200;

/* Media Queries Area */

@width-320: ~"only screen and (min-width: 320px)";
@width-360: ~"only screen and (min-width: 360px)";
@width-480: ~"only screen and (min-width: 480px)";
@width-640: ~"only screen and (min-width: 640px)";
@width-690: ~"only screen and (min-width: 690px)";
@width-768: ~"only screen and (min-width: 768px)";
@width-768m: ~"screen and (max-width: 768px)";
@width-960: ~"only screen and (min-width: 960px)";
@width-1024: ~"only screen and (min-width: 1024px)";
@width-1366: ~"only screen and (min-width: 1366px)";
// MAX WIDTH AREA
@width-320max: ~"only screen and (max-width: 320px)";
@width-960max: ~"only screen and (max-width: 690px)";

/* End Media Queries Area */

// FRAMEWORK OVERRIDES
html {
    font-family: @main-font;
    background: @lightgray;
}

h1 {
    font-weight: @font-light;
}

h2 {
    font-weight: @font-regular;
    font-family: @secodary-font;
}

h3 {
    font-weight: @font-light;
    color: @blue;
}

h4 {
    font-weight: @font-regular;
    font-family: @secodary-font;
}

h5 {
    font-weight: @font-light;
}

// SITE-WIDE STYLES & MIXINS
.soft-transition() {
    transition: all 0.4s ease;
}


/* Contact Field Area Styles */

.contact-field() {
    width: 93%;
    font-size: 12px;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    border: @white 1px solid;
    .soft-transition();
    &:placeholder {
        color: @lighergray;
    }
    &:focus {
        border-bottom: @orange 1px solid;
        outline: inherit;
        box-shadow: 0 5px 20px -6px @orange;
    }
}


/* End Contact Field Area Styles */


/* Orange Link Area Styles */

.orange-link() {
    color: @orange;
    .soft-transition();
    &:hover {
        color: @hvr-orange;
        text-decoration: none;
    }
}


/* Orange Link Area Styles */


/* Title Underline Style */

.line-title() {
    width: 50px;
    margin: 30px auto auto;
    border: solid 1px @darkgray;
}


/* End Title Underline Style */


/* Global Button Area Styles */

.btn-transparent-blue() {
    width: 109.1px;
    height: 36.6px;
    border-radius: 3px;
    border: solid 1px @white;
    background-color: @blue;
    font-size: 14px;
    text-align: center;
    color: @white;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0.1s;
    &::before {
        content: '';
        color: @white;
        background-color: @orange;
        width: 0%;
        height: 0%;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        .soft-transition();
    }
    &:hover {
        background-color: @orange;
        border: solid 1px @orange;
        color: @white;
        &::before {
            width: 150%;
            height: 150%;
            top: -25%;
            left: -25%;
            opacity: 0;
        }
    }
}

.btn-white() {
    width: 109.1px;
    height: 36.6px;
    border-radius: 3px;
    border: solid 1px @orange;
    background-color: @white;
    font-size: 14px;
    text-align: center;
    color: @orange;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0.1s;
    &::before {
        content: '';
        color: @white;
        background-color: @orange;
        width: 0%;
        height: 0%;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        .soft-transition();
    }
    &:hover {
        background-color: @orange;
        color: @white;
        &::before {
            width: 150%;
            height: 150%;
            top: -25%;
            left: -25%;
            opacity: 0;
        }
    }
}

.btn-orange() {
    width: 159px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid @orange;
    background-color: @orange;
    font-size: 14px;
    text-align: center;
    color: @white;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0.1s;
    &::before {
        content: '';
        background-color: @hvr-orange;
        width: 0%;
        height: 0%;
        border-radius: 50%;
        color: @white;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        .soft-transition();
    }
    &:hover {
        background-color: @hvr-orange;
        border: 1px solid @hvr-orange;
        &::before {
            width: 150%;
            height: 150%;
            top: -25%;
            left: -25%;
            opacity: 0;
        }
    }
}

.btn-blue() {
    width: 110px;
    height: 37px;
    border-radius: 3px;
    border: 1px solid @blue;
    background-color: @blue;
    font-size: 14px;
    text-align: center;
    color: @white;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0.1s;
    &::before {
        content: '';
        background-color: @hvr-blue;
        width: 0%;
        height: 0%;
        border-radius: 50%;
        color: white;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        .soft-transition();
    }
    &:hover {
        background-color: @hvr-blue;
        border: 1px solid @hvr-blue;
        &::before {
            width: 150%;
            height: 150%;
            top: -25%;
            left: -25%;
            opacity: 0;
        }
    }
}


/* Global End Button Area Styles */


/* Link Hover animations */

.link-animation-blue-bg() {
    display: inline-block;
    color: @white;
    text-decoration: none !important;
    &:after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: @white;
        transition: width 0.3s;
        .soft-transition();
    }
    &:hover {
        color: @white;
    }
    &:hover:after {
        width: 100%;
    }
}

.link-animation-gray-bg() {
    display: inline-block;
    color: @darkgray;
    text-decoration: none !important;
    &:after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: @darkgray;
        transition: width 0.3s;
        .soft-transition();
    }
    &:hover {
        color: @darkgray;
    }
    &:hover:after {
        width: 100%;
    }
}


/* End Link Hover animations */

// GLOBAL PAGE SECTIONS

/* Site Menu, Site Footer, etc. */


/* SEARCH BANNER AREA STYLES */

#search-banner-section {
    height: 90vh;
    .uk-container {
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .search-banner-container {
        margin: 95px auto;
        h1 {
            height: 156px;
            font-family: @main-font;
            font-size: 30px;
            font-weight: 300;
            text-align: center;
            color: @white;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
        }
        p {
            width: 128px;
            font-family: @secodary-font;
            font-size: 16px;
            line-height: 1.38;
            text-align: center;
            color: @white;
            font-weight: @font-regular;
            margin: 0 0 5px 0;
        }
        form {
            input {
                .contact-field();
                color: @lighergray;
                width: 260px;
                height: 50px;
                padding-left: 50px!important;
            }
            .search-input {
                span {
                    color: @darkgray;
                    font-size: 20px;
                    top: 22px;
                    left: 16px;
                }
            }
            .find-btn {
                .btn-orange();
                margin: 0 45px 0 45px;
            }
        }
    }
    .overlay-area {
        width: auto;
        height: auto;
        border-radius: 3px;
        background-color: @gray;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        position: absolute;
        z-index: 0;
        margin: 20px;
        bottom: -125px;
        .overlay-container {
            margin: 10%;
            .divider-title {
                .line-title();
            }
            h3 {
                text-align: center;
                font-size: 24px;
                line-height: 1.3;
            }
            p {
                width: auto;
                height: 154px;
                font-family: @secodary-font;
                font-size: @default-font-size;
                line-height: 1.38;
                text-align: center;
                color: @darkgray;
                padding-top: 10%;
            }
        }
    }
}


/* END SEARCH BANNER AREA STYLES */


/* ABOUT SECTION AREA STYLES */

#about-section {
    position: relative;
    z-index: -1;
    background-color: @blue;
    .uk-grid {
        margin: 0 auto;
    }
    .blurb-container {
        padding: 0 15px;
    }
    .about-container {
        margin: 95px auto;
        margin-top: 230px;
    }
    .about-blurb {
        text-align: center;
        display: block;
        h5 {
            color: @white;
            font-size: 18px;
        }
        p {
            color: @white;
            font-size: @default-font-size;
            font-weight: @font-regular; // width: 180px;
        }
        span {
            width: 24px;
            height: 24px;
            font-family: FontAwesome;
            font-size: 24px;
            text-align: center;
            color: @white;
        }
    }
}


/* END ABOUT SECTION AREA STYLES */


/* FEATURED LISTERS SECTION AREA STYLES */

#featured-listers-section {
    background-color: @white;
    padding: 37px 0 0 0;
    height: 500px;
    h3 {
        text-align: center;
        font-family: @main-font;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
    }
    .divider-title {
        .line-title();
    }
}


/* END FEATURED LISTERS SECTION AREA STYLES */

#blog-call-section {
    background-color: @gray;
    padding: 37px 0 0 0;
    height: 600px;
    h3 {
        text-align: center;
        font-family: @main-font;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
    }
    .divider-title {
        .line-title();
    }
    .mobile-blog-article {
        margin-top: 25px;
        padding: 0;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
    }
    .uk-article {
        margin: 14px;
        .uk-article-title {
            font-family: @main-font;
            font-size: 18px;
            font-weight: 300;
            color: @darkgray;
            text-align: left;
        }
        .uk-article-meta {
            font-family: @secodary-font;
            font-size: @default-font-size;
            line-height: 1.38;
            margin-top: -8px;
            margin-bottom: -25px;
            text-align: left;
            color: @darkgray;
        }
        .date-category {
            list-style: none;
            display: flex;
            margin: -20px 25px 0px -45px;
            li {
                padding-left: 20px;
                p,
                a {
                    font-family: @secodary-font;
                    font-size: 12px;
                    text-align: right;
                    color: #165c96;
                }
            }
        }
        .blog-call-readmore {
            .btn-orange();
            text-decoration: none;
            padding: 8px;
        }
        .readmore-link {
            position: relative;
            right: 0;
            top: 45px;
            bottom: 0;
            text-align: left;
        }
        p {
            font-family: @secodary-font;
            font-size: 12px;
            font-style: italic;
            text-align: right;
            color: #adadad;
        }
    }
    .visit-blog-container {
        position: relative;
        text-align: center;
        top: 25px;
        bottom: 0;
        .visit-blog-btn {
            .btn-white();
            background-color: @gray;
            padding: 10px 25px 10px 25px;
            text-decoration: none;
        }
    }
}


/* BLOG CALL SECTION AREA STYLES */


/* END BLOG CALL SECTION AREA STYLES */


/* SITE FOOTER AREA STYLES */

footer {
    // .uk-grid.footer-container {
    //     @media @width-768 {
    //         margin: 20px;
    //     }
    //     @media @width-1366 {
    //         margin: 0 310px 0 310px;
    //     }
    // }
    .uk-container {
        margin: 0 auto;
        padding: 0;
    }
    background: @gray;
    padding: 37px 0 0 0;
    h6 {
        font-size: @default-font-size - 2;
        font-weight: @font-light;
    }
    .footer-navigation {
        padding: 0 30px 0 30px;
        @media @width-1366 {
            padding: 0;
        }
        margin-bottom: 35px;
        ul {
            list-style: none;
            padding: 0px;
            li {
                margin-bottom: 5px;
                a {
                    color: @darkgray;
                    font-size: @default-font-size - 4;
                    .soft-transition();
                    text-decoration: none;
                    font-weight: @font-light;
                    &.subscribe {
                        .orange-link();
                    }
                }
            }
        }
    }
    .footer-contact {
        padding: 0 30px 0 30px; // @media @width-1366 {
        //     padding: 0;
        //     margin: 0 0 0 -100px;
        // }
        form {
            margin-bottom: 35px;
            .field {
                width: 100%;
                height: auto;
                input {
                    height: 30px;
                    .contact-field();
                    &::placeholder {
                        color: @lighergray;
                    }
                }
                textarea {
                    .contact-field();
                    padding: 10px 10px;
                    &::placeholder {
                        color: @lighergray;
                    }
                }
            }
            .submit-btn {
                .btn-white();
                background-color: @gray;
            }
        }
    }
    .footer-contact-info {
        padding: 0 30px 40px 30px;
        @media @width-1366 {
            padding: 0;
        }
        p {
            font-size: @default-font-size - 2;
            font-weight: @font-light;
            line-height: 22px;
        }
        ul {
            padding: 0;
            list-style: none;
            @media @width-768 {
                line-height: 3;
            }
            li {
                display: inline-block;
                width: auto;
                margin-right: 5px;
                a {
                    background: @darkgray;
                    border-radius: 15px;
                    padding: 6px;
                    .soft-transition();
                    span {
                        width: 20px;
                        text-align: center;
                        color: @white;
                    }
                    &:hover {
                        background: @orange;
                        span {}
                    }
                }
            }
        }
    }
    .main-footer {
        background: @darkgray;
        padding: 20px;
        .copyright {
            text-align: center;
            img {
                width: 220px;
            }
            p {
                color: @white;
                font-size: @default-font-size - 6;
                font-weight: @font-light;
                margin: 0;
                font-family: @secodary-font;
            }
        }
        .url {
            text-align: center;
            line-height: 7px;
            a {
                color: @white;
                font-size: @default-font-size - 6;
                font-weight: @font-light;
                font-family: @secodary-font;
            }
        }
        .share-icons {
            text-align: center;
            padding-top: 20px;
            p {
                color: @white;
                font-size: @default-font-size - 4;
                font-weight: @font-light;
                margin: 0;
                font-family: @secodary-font;
            }
            ul {
                padding: 0;
                list-style: none;
                li {
                    display: inline-block;
                    width: auto;
                    margin-right: 5px;
                    a {
                        background: @white;
                        border-radius: 15px;
                        padding: 6px;
                        .soft-transition();
                        span {
                            width: 20px;
                            text-align: center;
                            color: @darkgray;
                        }
                        &:hover {
                            background: @orange;
                            span {}
                        }
                    }
                }
            }
        }
    }
}


/* FOOTER MODAL AREA STYLES */

#subscribe-modal {
    h3 {
        font-size: 26px;
        font-weight: 300;
        text-align: center;
        line-height: 1;
        color: @white;
        margin: 36px;
        @media @width-768 {
            margin: 60px;
        }
    }
    p {
        margin-top: 30px;
        font-size: 18px;
        font-weight: @font-regular;
        font-style: normal;
        line-height: 1.67;
        text-align: center;
        font-family: @secodary-font;
    }
    .uk-close {
        font-family: material !important;
        font-size: 24px;
        font-weight: 100;
        text-align: center;
        color: #c9c9c9;
    }
    .subs-modal-header {
        margin-bottom: 15px;
        margin: -20px -20px 15px -20px;
        padding: 20px;
        height: 130px !important;
        background-image: linear-gradient(to top, @blue, #3382c4);
    }
    @media @width-768 {
        .subs-container {
            margin: 32px;
        }
    }
    .join-now-btn {
        .btn-orange();
        width: 100%;
        height: 50px;
        @media @width-768 {
            width: 150px;
            position: relative;
            top: -4px;
            left: 10px;
        }
    }
    .subs-form {
        margin: 30px 0 0 0px;
        text-align: center;
        input {
            .contact-field();
            width: 100%;
            height: 50px;
            border: solid 1px @gray;
            @media @width-768 {
                width: 50%;
            }
        }
    }
}


/* END FOOTER MODAL AREA STYLES */


/* END SITE FOOTER AREA STYLES */


/* SITE MENU AREA STYLES */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    .mobile-menu {
        background: @blue;
        .logo {
            padding: 15px 0 14px 20px;
            img {
                width: 186px;
                margin-left: 20px;
            }
        }
        .menu {
            text-align: right;
            padding: 10px 20px 10px 0;
            a {
                span {
                    position: relative;
                    top: 7px;
                    .soft-transition();
                    font-size: 26px;
                    color: @white;
                }
                &:hover {
                    span {
                        color: @orange;
                    }
                }
            }
        }
        .uk-offcanvas-bar {
            width: 160px;
            background: @blue;
            .uk-close {
                position: absolute;
                right: 15px;
                top: 13px;
                font-size: @default-font-size + 8px;
                color: @darkorange;
                opacity: 1;
                .soft-transition();
                &:hover {
                    opacity: 0.8;
                }
            }
            .menulist {
                padding-top: 50px;
                text-align: center;
                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        .desktop-links {
                            .link-animation-blue-bg();
                        }
                        a {
                            font-weight: @font-lighter;
                            color: @white;
                            font-size: @default-font-size;
                            padding: 12px 20px;
                            text-align: center;
                            display: block;
                            text-decoration: none;
                            .soft-transition();
                            &:hover {}
                        }
                    }
                }
                a.list-services-btn {
                    .btn-transparent-blue();
                    padding: 8px;
                    text-decoration: none;
                }
            }
        }
    }
    .desktop-menu {
        background: @blue;
        .uk-container {
            margin: 0 auto;
            .logo {
                padding: 10px 0 10px 20px;
                img {
                    width: 240px;
                }
            }
            .menulist {
                text-align: right;
                padding: 20px 20px 10px 0;
                ul {
                    width: auto;
                    display: inline-block;
                    list-style: none;
                    margin: 0;
                    li {
                        display: inline-block;
                        width: auto;
                        .desktop-links {
                            .link-animation-blue-bg();
                        }
                        a {
                            font-weight: @font-lighter;
                            color: @white;
                            font-size: @default-font-size;
                            text-align: center;
                            .soft-transition();
                            padding: 5px 0px;
                            text-decoration: none;
                            margin: 0 10px;
                            &.active {
                                border-bottom: solid 2px @white;
                            }
                        }
                    }
                }
                a.list-services-btn {
                    .btn-transparent-blue();
                    padding: 8px;
                    text-decoration: none;
                }
            }
        }
    }
}

// .uk-grid {
//     margin: 0;
// }

/* END SITE MENU AREA STYLES */