// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
// BASE FRAMEWORK
@import '../bower_components/uikit/less/uikit.less';
// GLOBAL VARIABLES
@blue: #165C96;
@orange: #FE7B00;
@white: #FFF;
@darkgray: #444444;
@gray: #E4E4E4;
@lightgray: #F0F0F0;
@hvr-blue: #053C69;
@hvr-orange: #C45F00;
@lighergray: #BBBBBB;
@main-font: 'Montserrat';
@secodary-font: 'Roboto';
@darkorange: #DC6A00;
@default-font-size: 16px;
@font-regular: 400;
@font-light: 300;
@font-lighter: 200;

/* Media Queries Area */

@width-320: ~"only screen and (min-width: 320px)";
@width-360: ~"only screen and (min-width: 360px)";
@width-480: ~"only screen and (min-width: 480px)";
@width-640: ~"only screen and (min-width: 640px)";
@width-690: ~"only screen and (min-width: 690px)";
@width-768: ~"only screen and (min-width: 768px)";
@width-768m: ~"screen and (max-width: 768px)";
@width-960: ~"only screen and (min-width: 960px)";
@width-1024: ~"only screen and (min-width: 1024px)";
@width-1366: ~"only screen and (min-width: 1366px)";
// MAX WIDTH AREA
@width-320max: ~"only screen and (max-width: 320px)";
@width-960max: ~"only screen and (max-width: 690px)";

/* End Media Queries Area */

// FRAMEWORK OVERRIDES
html {
    font-family: @main-font;
    background: @lightgray;
}

h1 {
    font-weight: @font-light;
}

h2 {
    font-weight: @font-regular;
    font-family: @secodary-font;
}

h3 {
    font-weight: @font-light;
    color: @blue;
}

h4 {
    font-weight: @font-regular;
    font-family: @secodary-font;
}

h5 {
    font-weight: @font-light;
}

// SITE-WIDE STYLES & MIXINS
.soft-transition() {
    transition: all 0.4s ease;
}


/* Contact Field Area Styles */

.contact-field() {
    width: 93%;
    font-size: 12px;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    border: @white 1px solid;
    .soft-transition();
    &:placeholder {
        color: @lighergray;
    }
    &:focus {
        border-bottom: @orange 1px solid;
        outline: inherit;
        box-shadow: 0 5px 20px -6px @orange;
    }
}


/* End Contact Field Area Styles */


/* Orange Link Area Styles */

.orange-link() {
    color: @orange;
    .soft-transition();
    &:hover {
        color: @hvr-orange;
        text-decoration: none;
    }
}


/* Orange Link Area Styles */


/* Global Button Area Styles */

.btn-transparent-blue() {
    width: 109.1px;
    height: 36.6px;
    border-radius: 3px;
    border: solid 1px @white;
    background-color: @blue;
    font-size: 14px;
    text-align: center;
    color: @white;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0.1s;
    &::before {
        content: '';
        color: @white;
        background-color: @orange;
        width: 0%;
        height: 0%;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        .soft-transition();
    }
    &:hover {
        background-color: @orange;
        color: @white;
        &::before {
            width: 150%;
            height: 150%;
            top: -25%;
            left: -25%;
            opacity: 0;
        }
    }
}

.btn-white() {
    width: 109.1px;
    height: 36.6px;
    border-radius: 3px;
    border: solid 1px @orange;
    background-color: @white;
    font-size: 14px;
    text-align: center;
    color: @orange;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0.1s;
    &::before {
        content: '';
        color: @white;
        background-color: @orange;
        width: 0%;
        height: 0%;
        border-radius: 50%;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        .soft-transition();
    }
    &:hover {
        background-color: @orange;
        color: @white;
        &::before {
            width: 150%;
            height: 150%;
            top: -25%;
            left: -25%;
            opacity: 0;
        }
    }
}

.btn-orange() {
    width: 109.1px;
    height: 36.6px;
    border-radius: 3px;
    border: 1px solid @orange;
    background-color: @orange;
    font-size: 14px;
    text-align: center;
    color: @white;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0.1s;
    &::before {
        content: '';
        background-color: @hvr-orange;
        width: 0%;
        height: 0%;
        border-radius: 50%;
        color: @white;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        .soft-transition();
    }
    &:hover {
        background-color: @hvr-orange;
        border: 1px solid @hvr-orange;
        &::before {
            width: 150%;
            height: 150%;
            top: -25%;
            left: -25%;
            opacity: 0;
        }
    }
}

.btn-blue() {
    width: 110px;
    height: 37px;
    border-radius: 3px;
    border: 1px solid @blue;
    background-color: @blue;
    font-size: 14px;
    text-align: center;
    color: @white;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out 0.1s;
    &::before {
        content: '';
        background-color: @hvr-blue;
        width: 0%;
        height: 0%;
        border-radius: 50%;
        color: white;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        .soft-transition();
    }
    &:hover {
        background-color: @hvr-blue;
        border: 1px solid @hvr-blue;
        &::before {
            width: 150%;
            height: 150%;
            top: -25%;
            left: -25%;
            opacity: 0;
        }
    }
}


/* Global End Button Area Styles */


/* Link Hover animations */

.link-animation-blue-bg() {
    display: inline-block;
    color: @white;
    text-decoration: none !important;
    &:after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: @white;
        transition: width 0.3s;
        .soft-transition();
    }
    &:hover {
        color: @white;
    }
    &:hover:after {
        width: 100%;
    }
}


/* End Link Hover animations */

// GLOBAL PAGE SECTIONS

/* Site Menu, Site Footer, etc. */


/* SITE FOOTER AREA STYLES */

footer {
    .uk-grid.footer-container {
        @media @width-768 {
            margin: 20px;
        }
        @media @width-1366 {
            margin: 0 310px 0 310px;
        }
    }
    background: @gray;
    padding: 37px 0 0 0;
    h6 {
        font-size: @default-font-size - 2;
        font-weight: @font-light;
    }
    .footer-navigation {
        padding: 0 30px 0 30px;
        @media @width-1366 {
            padding: 0;
        }
        margin-bottom: 35px;
        ul {
            list-style: none;
            padding: 0px;
            li {
                margin-bottom: 5px;
                a {
                    color: @darkgray;
                    font-size: @default-font-size - 4;
                    .soft-transition();
                    text-decoration: none;
                    font-weight: @font-light;
                    &.subscribe {
                        .orange-link();
                    }
                }
            }
        }
    }
    .footer-contact {
        padding: 0 30px 0 30px;
        @media @width-1366 {
            padding: 0;
            margin: 0 0 0 -100px;
        }
        form {
            margin-bottom: 35px;
            .field {
                width: 100%;
                height: auto;
                input {
                    height: 30px;
                    .contact-field();
                    &::placeholder {
                        color: @lighergray;
                    }
                }
                textarea {
                    .contact-field();
                    padding: 10px 10px;
                    &::placeholder {
                        color: @lighergray;
                    }
                }
            }
            .submit-btn {
                .btn-white();
                background-color: @gray;
            }
        }
    }
    .footer-contact-info {
        padding: 0 30px 40px 30px;
        @media @width-1366 {
            padding: 0;
        }
        p {
            font-size: @default-font-size - 2;
            font-weight: @font-light;
            line-height: 22px;
        }
        ul {
            padding: 0;
            list-style: none;
            @media @width-768 {
                line-height: 3;
            }
            li {
                display: inline-block;
                width: auto;
                margin-right: 5px;
                a {
                    background: @darkgray;
                    border-radius: 15px;
                    padding: 6px;
                    .soft-transition();
                    span {
                        width: 20px;
                        text-align: center;
                        color: @white;
                    }
                    &:hover {
                        background: @orange;
                        span {}
                    }
                }
            }
        }
    }
    .main-footer {
        background: @darkgray;
        padding: 20px;
        .copyright {
            text-align: center;
            img {
                width: 220px;
            }
            p {
                color: @white;
                font-size: @default-font-size - 6;
                font-weight: @font-light;
                margin: 0;
                font-family: @secodary-font;
            }
        }
        .url {
            text-align: center;
            line-height: 7px;
            a {
                color: @white;
                font-size: @default-font-size - 6;
                font-weight: @font-light;
                font-family: @secodary-font;
            }
        }
        .share-icons {
            text-align: center;
            padding-top: 20px;
            p {
                color: @white;
                font-size: @default-font-size - 4;
                font-weight: @font-light;
                margin: 0;
                font-family: @secodary-font;
            }
            ul {
                padding: 0;
                list-style: none;
                li {
                    display: inline-block;
                    width: auto;
                    margin-right: 5px;
                    a {
                        background: @white;
                        border-radius: 15px;
                        padding: 6px;
                        .soft-transition();
                        span {
                            width: 20px;
                            text-align: center;
                            color: @darkgray;
                        }
                        &:hover {
                            background: @orange;
                            span {}
                        }
                    }
                }
            }
        }
    }
}


/* FOOTER MODAL AREA STYLES */

#subscribe-modal {
    h3 {
        font-size: 26px;
        font-weight: 300;
        text-align: center;
        line-height: 1;
        color: @white;
        margin: 36px;
        @media @width-768 {
            margin: 60px;
        }
    }
        p {
            margin-top: 30px;
            font-size: 18px;
            font-weight: @font-regular;
            font-style: normal;
            line-height: 1.67;
            text-align: center;
            font-family:@secodary-font;
        }
    .uk-close {
        font-family: material !important;
        font-size: 24px;
        font-weight: 100;
        text-align: center;
        color: #c9c9c9;
    }
    .subs-modal-header {
        margin-bottom: 15px;
        margin: -20px -20px 15px -20px;
        padding: 20px;
        height: 130px !important;
        background-image: linear-gradient(to top, @blue, #3382c4);
    }
   
        @media @width-768 {
            .subs-container {
                margin: 32px;
            } 
        }
    
    .join-now-btn {
        .btn-orange();
        width: 100%;
        height: 50px;
        @media @width-768 {
            width: 150px;
            position: relative;
            top: -4px;
            left: 10px;
        }
    }
    .subs-form {
        margin: 30px 0 0 0px;
        text-align: center;
        input {
            .contact-field();
            width: 100%;
            height: 50px;
            border: solid 1px @gray;
            @media @width-768 {
                width: 50%;
            }
        }
    }
}


/* END FOOTER MODAL AREA STYLES */


/* END SITE FOOTER AREA STYLES */


/* SITE MENU AREA STYLES */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    .mobile-menu {
        background: @blue;
        .logo {
            padding: 15px 0 14px 20px;
            img {
                width: 186px;
            }
        }
        .menu {
            text-align: right;
            padding: 10px 20px 10px 0;
            a {
                span {
                    position: relative;
                    top: 7px;
                    .soft-transition();
                    font-size: 26px;
                    color: @white;
                }
                &:hover {
                    span {
                        color: @orange;
                    }
                }
            }
        }
        .uk-offcanvas-bar {
            width: 160px;
            background: @blue;
            .uk-close {
                position: absolute;
                right: 15px;
                top: 13px;
                font-size: @default-font-size + 8px;
                color: @darkorange;
                opacity: 1;
                .soft-transition();
                &:hover {
                    opacity: 0.8;
                }
            }
            .menulist {
                padding-top: 50px;
                text-align: center;
                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        a {
                            font-weight: @font-lighter;
                            color: @white;
                            font-size: @default-font-size;
                            padding: 12px 20px;
                            text-align: center;
                            display: block;
                            text-decoration: none;
                            .soft-transition();
                            &:hover {}
                        }
                    }
                }
                a.list-services-btn {
                    .btn-transparent-blue();
                    padding: 8px;
                    text-decoration: none;
                }
            }
        }
    }
    .desktop-menu {
        background: @blue;
        .uk-container {
            margin: 0 auto;
            .logo {
                padding: 10px 0 10px 20px;
                img {
                    width: 240px;
                }
            }
            .menulist {
                text-align: right;
                padding: 20px 20px 10px 0;
                ul {
                    width: auto;
                    display: inline-block;
                    list-style: none;
                    margin: 0;
                    li {
                        display: inline-block;
                        width: auto;
                        a {
                            font-weight: @font-lighter;
                            color: @white;
                            font-size: @default-font-size;
                            text-align: center;
                            .soft-transition();
                            padding: 5px 0px;
                            text-decoration: none;
                            margin: 0 10px;
                            &:hover {}
                            &.active {
                                border-bottom: solid 2px @white;
                            }
                        }
                    }
                }
                a.list-services-btn {
                    .btn-transparent-blue();
                    padding: 8px;
                    text-decoration: none;
                }
            }
        }
    }
}

// .uk-grid {
//     margin: 0;
// }

/* END SITE MENU AREA STYLES */