// BASE IMPORT
@import '_base';
// PAGE FRAMEWORK COMPONENT IMPORT
@import '../bower_components/uikit/less/components/slideshow.less';
@import '../bower_components/uikit/less/components/dotnav.less';
@import '../bower_components/uikit/less/components/slider.less';
@import '../bower_components/uikit/less/components/slidenav.less';
// PAGE FRAMEWORK OVERRIDES
// PAGE SECTION STYLES

/* #hero, #about, #contact, etc. */


/* FEATURED SERVICES SECTION  AREA STYLES */



/* FEATURED BLOG AREA STYLES */

#featured-blog-section {
    background-color: @lightgray;
    .uk-container {
        margin: 0 auto;
    }
    .uk-slideshow {
        @media @width-768 {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        }
    }
    .uk-overlay-panel {
        margin-bottom: 40px;
        @media @width-960 {
            top: 200px;
        }
    }
    .uk-panel {
        width: auto;
        height: auto;
        border-radius: 3px;
        background-color: @white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
        position: relative;
        top: 65%;
        left: 0;
        padding: 25px;
        transform: translateY(-50%);
        @media @width-768 {
            top: 50%;
            width: 600px;
            height: 180px;
            margin: 0 auto;
        }
        h3 {
            font-family: @main-font;
            font-size: 22px;
            text-align: left;
            color: @darkgray;
            text-transform: uppercase;
        }
        p {
            font-family: @secodary-font;
            font-size: 16px;
            line-height: 1.38;
            text-align: left;
            color: @darkgray;
        }
    }
    .blog-readmore-container {
        text-align: right;
    }
    .blog-readmore-btn {
        .btn-orange();
       padding: 8px;
       text-decoration: none;
    }
    .uk-dotnav-contrast>.uk-active>* {
        background-color: @darkgray;
    }
    .uk-dotnav-contrast>*>* {
        background-color: @gray;
        width: 10px;
        height: 10px;
    }
    .date-category {
        position: relative;
        top: -10px;
        @media @width-768 {
            top: 38px;
        }
        p {
            font-family: @secodary-font;
            font-size: 12px;
            text-align: left;
            color: @blue;
            a {
                text-decoration: none;
            }
        }
    }
    .mobile-blog-slide {
        height: 100vh;
    }
    .uk-dotnav {
        margin-bottom: 30px;
    }
}


/* END FEATURED BLOG AREA STYLES */