// BASE IMPORT
@import '_base';
// PAGE FRAMEWORK COMPONENT IMPORT
// PAGE FRAMEWORK OVERRIDES
// PAGE SECTION STYLES
@import '../bower_components/uikit/less/components/slider.less';
@import '../bower_components/uikit/less/components/slidenav.less';
// @import '../bower_components/uikit/less/components/slideshow.less';
// @import '../bower_components/uikit/less/components/dotnav.less';
/* #hero, #about, #contact, etc. */


/* FEATURED SERVICES SECTION  AREA STYLES */

//dashboard styles
.dashboard{
	padding: 25px 0 0 0;
	max-width: 85%;
	margin: 0 auto 50px auto;
	height: auto;
	background-color: @white;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	margin-top: -240px;
	@media @width-768 {
		max-width: 70%;
	}
	.uk-container {

		margin: 0 auto;
		padding-bottom: 30px;


		h3{
			font-size: @default-font-size + 8;
			text-transform: none;
			text-align: center;
		}
		.divider-title{
			.line-title();
			margin-bottom: 15px;
		}

		.uk-tab {
			padding-bottom: 15px;
			margin: 0;
			p,
			span {
				font-family: @main-font;
				font-size: @default-font-size - 6;
				font-weight: 300;
				line-height: 13px;
				text-align: center;
				color: @dimgray;
				@media @width-768{
					font-size: @default-font-size;
					padding-left: 10px;
				}
			}
		}
		.uk-tab-bottom {
			>li.uk-active {
				>a {
					border-top-color: transparent;
					border-bottom: solid 2px @orange !important;
					margin: 0;
					&:hover{
						padding: 9px 4px 8px 4px !important;
						@media @width-480{
							padding: 9px 12px 8px 12px !important;
						}
					}
				}
			}
		}
		.uk-tab {
			>li.uk-active {
				>a {
					border-color: transparent;
				}
			}
		}
		.uk-tab-grid {
			&:before {
				display: block;
				position: absolute;
				left: 5px;
				right: 0;
				border-top: 0;
				z-index: -1;
			}
		}
		.uk-tab {
			>li {
				>a {
					margin: 0;
					padding: 9px 4px 8px 4px !important;
					@media @width-480{
						padding: 9px 12px 8px 12px !important;
					}
					&:hover {
						background: transparent;
						outline: none;
						border: transparent;
						// margin-bottom: 2px;
						padding: 9px 4px 8px 4px !important;
						@media @width-480{
							padding: 9px 12px 8px 12px !important;
						}
					}
					&:focus {
						background: transparent;
						outline: none;
					}
					i{
						display: block;
						color: @orange;
						padding-bottom: 10px;
						font-size: @default-font-size;
						@media @width-768{
							width: auto;
							display: inline-block;
							padding: 0;
						}
					}
				}
			}
			>li.uk-open {
				>a {
					background: transparent;
					outline: none;
				}
			}
		}
		figure{
			text-align: center;
		}
		.uk-tab-bottom {
			@media @width-768 {
				width: 80%;
				margin: 0 auto;
			}
			>li {
				border-bottom: 1px solid @gray;
			}
		}
		.upload-photo {
			margin-top: -15px;
			text-align: center;
			@media @width-768 {
				display: inline-flex;
				padding-top: 40px;
			}
			.upload-icon-container {
				position: relative;
				top: 40px;
				left: 51px;
				@media @width-768 {
					top: 10px;
					left: 140px;
				}
			}
			img {
				max-width: 150px;
				height: 150px;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
			}
			span {
				padding: 10px;
				border-radius: 3px;
				background-color: @orange;
				color: @white;
				.soft-transition();
				&:hover {
					background-color: @hvr-orange;
				}
			}
			form#accountForm{
				padding: 25px 0 50px 0;
				text-align: left;
				border-bottom: 1px dotted @darkgray;
				@media @width-768 {
					padding-top: 0;
					text-align: center;
					border: 0px;
				}
				input {
					.contact-field();
					width: 100%;
					height: 40px;
					border-radius: 3px;
					border: solid 1px @gray;
					@media @width-768 {
						width: 80%;
					}
					&::placeholder {
						color: @lighergray !important;
					}
				}
				a{
					font-size: @default-font-size;
					font-family: @secondary-font;
					color: @orange;
					font-weight: normal;
					&:hover{
						text-decoration: none;
					}
				}
				.change-pass{
					padding: 15px 0;
					text-align: left;
					@media @width-768{
						padding-left: 35px;
					}
				}
				button{
					.btn-orange();
					width: auto;
					height: auto;
					padding: 10px 28px;
				}
			}
		}
		.billing-address{
			padding: 35px 0 50px 0;
			border-bottom: 1px dotted @darkgray;
			@media @width-768{
				margin: 0 100px;
			}
			form#billingAddressForm{
				padding-top: 25px;
				text-align: center;

				input {
					.contact-field();
					width: 100%;
					height: 40px;
					border-radius: 3px;
					border: solid 1px @gray;
					@media @width-768 {
						width: 80%;
					}
					&::placeholder {
						color: @lighergray !important;
					}
				}
				button{
					.btn-orange();
					width: auto;
					height: auto;
					padding: 10px 28px;
					margin-top: 20px;
				}
			}
			.uk-grid{
				margin: 0px;
				div{
					padding: 0px;
				}
			}
			@media @width-768{
				.padding-left{
					padding-left: 15px !important;
				}
				.padding-right{
					padding-right: 15px !important;
				}
			}
		}
		.plan-area {
			padding: 55px 0 0 0;
			p {
				font-family: @secondary-font;
				font-size: @default-font-size;
				line-height: 1.38;
				text-align: center;
				color: @darkgray;
			}
		}
		.plan-heading {
			.plan-title-blue();
		}
		.plan-heading-blue {
			.plan-title-blue();
		}
		.plan-heading-orange {
			.plan-title-orange();
		}
		.bottom-triangle-orange {
			.triangle-down-orange();
		}
		.bottom-triangle-blue {
			.triangle-down-blue();
		}
		.plan-content {
			max-width: 205px;
			height: 500px;
			background-color: @white;
			border: solid 1px @gray;
			position: relative;
			margin: 0 auto;
			overflow: hidden;
			@media @width-960 {
				max-width: 300px;
			}
			.pricing-content {
				padding: 50px 0 0 0;
				width: 80%;
				margin: 0 auto;
				p,
				em {
					font-family: @secondary-font;
					font-size: @default-font-size - 2;
					font-weight: 300;
					text-align: center;
					color: @darkgray;
				}
				p.plus-size{
					font-size: @default-font-size + 2;
					em{
						font-size: @default-font-size + 2;
					}
				}
				.plan-heading {
					.plan-title-blue()
				}
			}
			.choose-btn-container {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				text-align: center;
				padding: 0 0 15px 0;
				i {
					color: @orange;
					font-size: @default-font-size - 4;
					span {
						font-family: @secondary-font;
						font-size: @default-font-size - 2;
						text-align: center;
						color: @orange;
					}
				}
				.current-blue {
					color: @blue !important;
					font-size: @default-font-size -4;
					span {
						font-family: @secondary-font;
						font-size: @default-font-size - 2;
						text-align: center;
						color: @blue;
					}
				}
				.choose-btn-orange {
					.btn-orange();
					width: 80%;
					height: 30px;
				}
				.choose-btn-blue {
					.btn-blue();
					width: 80%;
					height: 30px;
				}
			}
			.price-here-blue {
				font-family: @main-font;
				font-size: @default-font-size - 2;
				text-align: center;
				color: @blue;
				span {
					font-size: @default-font-size + 14;
					font-weight: 300;
				}
			}
			.price-here-orange {
				font-family: @main-font;
				font-size: @default-font-size - 2;
				text-align: center;
				color: @orange;
				span {
					font-size: @default-font-size + 14;
					font-weight: 300;
				}
			}
		}
		.proceed-btn-box {
			text-align: center;
			padding: 60px 0 20px 0;
			.proceed-btn {
				padding: 60px 0 0 0;
				.btn-orange();
				width: auto;
				height: auto;
				padding: 10px 23px;
				text-decoration: none;
			}
		}
		.uk-alert{
			text-align: center;
		}
		.basic-info-container {
			// padding: 30px 0 0 0;
			@media @width-768{
				padding: 50px 135px 0 135px;
			}	

			.upload-photo-logo{
				// margin-top: -15px;
				text-align: center;
				width: 100px;
				height: 100px;
				position: relative;
				margin: 0 auto 30px auto;
				@media @width-768 {
					// display: inline-flex;
					// padding-top: 40px;
				}
				.upload-icon-container {
					top: 5px;
					position: absolute;
					right: 5px;
				}
				img {
					width: 100%;
					height: auto;
					box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
				}
				span {
					padding: 5px;
					border-radius: 3px;
					background-color: @orange;
					color: @white;
					.soft-transition();
					&:hover {
						background-color: @hvr-orange;
					}
				}
			}

			form {
				// padding-top: 25px;
				input,
				select,
				textarea {
					.contact-field();
					width: 100%;
					height: 40px;
					border-radius: 3px;
					border: solid 1px @gray;
					@media @width-768 {
						width: 100%;
					}
					&::placeholder {
						color: @lighergray !important;
					}
				}
				textarea {
					height: 120px;
				}
				select {
					color: @lighergray !important;
				}
			}
			p {
				font-family: @main-font;
				font-size: 16px;
				font-weight: 300;
				text-align: left;
				color: @darkgray;
			}
			.help-box {
				position: relative;
				span {
					position: absolute;
					top: 13px;
					right: 6px;
					color: @lighergray;
					padding: 0px 2px 2px 5px;
					background: #fff;
					.soft-transition();
					&:hover {
						color: @hvr-orange;
					}
				}
			}
			.map-container {
				position: relative;
				padding: 15px 0 15px 0;
				iframe {
					height: 180px;
					@media @width-768 {
						height: 200px;
					}
				}
			}
			.basic-info-fields{
				padding: 15px 0 35px 0;
				@media @width-768{
					padding: 15px 0 60px 0;
				}
				border-bottom: 1px dotted #444444;
				.other-information{
					overflow-x: scroll;
					margin-bottom: 15px;
					table{
						margin: 0;
						border: 1px solid @lightergray;
						th{
							text-align: center;
							font-weight: normal;
							font-size: @default-font-size - 4;
							font-family: @secondary-font;
							border: 1px solid @lightergray;
						}
						td{
							border: 1px solid @lightergray;
							text-align: center;
							font-size: @default-font-size - 4;
							font-family: @secondary-font;
							font-weight: normal;
							i{
								padding: 0 3px;
								&:before{
									font-size: @default-font-size + 2;
									color: @orange;
								}
							}
						}
					}
				}
				button.save-changes{
					.btn-orange();
					width: auto;
					height: auto;
					padding: 10px 28px;
					margin-top: 20px;
				}
			}

			.registration-s {
				p {
					font-family: @secondary-font;
					font-size: @default-font-size - 2;
					line-height: 1.57;
					text-align: left;
					color: @blue;
					span {
						font-size: 16px;
						text-align: center;
						color: @lighergray;
						.soft-transition();
						&:hover {
							color: @hvr-orange;
						}
					}
				}
			}
			.num-list {
				padding-left: 15px;
			}
			.input-fields-wrap {
				@media @width-768 {
					text-align: left;
				}
				.add-field-button {
					font-family: @secondary-font;
					font-size: 14px;
					font-weight: 300;
					line-height: 1.57;
					text-align: left;
					color: @blue;
					background-color: transparent;
					border: 0;
					cursor: pointer;
					&:focus {
						outline: none;
					}
					&:hover{
						text-decoration: none;
					}
				}
				.remove_field {
					font-family: @secondary-font;
					font-size: 14px;
					font-weight: 300;
					line-height: 1.57;
					text-align: left;
					color: @blue !important;
					text-decoration: none;
				}
			}
			.input-fields-wrap2 {
				@media @width-768 {
					text-align: left;
				}
				.add-field-button2 {
					font-family: @secondary-font;
					font-size: 14px;
					font-weight: 300;
					line-height: 1.57;
					text-align: left;
					color: @blue;
					background-color: transparent;
					border: 0;
					cursor: pointer;
					&:focus {
						outline: none;
					}
				}
				.remove_field2 {
					font-family: @secondary-font;
					font-size: 14px;
					font-weight: 300;
					line-height: 1.57;
					text-align: left;
					color: @blue !important;
					text-decoration: none;
				}
			}
			.input-fields-wrap {
				padding-bottom: 20px;
			}
			.input-fields-wrap2 {
				padding-top: 20px;
			}
			.about-area {
				padding-top: 20px;
			}
			.docs-box {
				text-align: center;
				padding: 15px 0 20px 0;
				.docs-btn {
					.btn-orange();
					height: auto;
					width: auto;
					padding: 6px 13px;
					font-weight: normal;
					&:hover{
						text-decoration: none;
					}
				}
			}
			.about-container{
				padding: 35px 0;
				@media @width-768{
					padding: 60px 0;
				}
				border-bottom: 1px dotted @darkgray;
				button.save-changes{
					.btn-orange();
					width: auto;
					height: auto;
					padding: 10px 28px;
					margin-top: 20px;
				}
			}
			.services{
				padding: 35px 0 85px 0;
				@media @width-768{
					padding: 60px 0 105px 0;
				}
				border-bottom: 1px dotted #444;
				.add-service-container{
					padding: 10px 0 20px 0;
					a.add-service{
						.btn-orange();
						width: auto;
						height: auto;
						padding: 6px 22px;
						&:hover{
							text-decoration: none;
						}
					}
				}
				.services-content{
					li{
						padding: 0px;
						.service{
							@media @width-960{
								padding: 0 10px;
							}
							.shadow{
								box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
								margin: 2px;
								.panel-content{
									padding-bottom: 20px;
								}
								h5{
									background: #444;
									color: @white;
									font-weight: 300;
									padding: 5px 10px;
									text-align: center;
								}
								p{
									font-size: 16px;
									padding: 0 10px 0 10px;
									font-weight: normal;
									font-family: @secondary-font;
								}
								a{
									.btn-orange();
									width: auto;
									height: auto;
									padding: 6px 20px;
									&:hover{
										text-decoration: none;
									}
								}
							}
						}
					}


					.service-list-arrow {
						.btn-white();
						width: 37px;
						outline: none;
					}
					.uk-slidenav.uk-slidenav-previous,
					.uk-slidenav.uk-slidenav-next {
						display: block;
						color: @orange;
						.soft-transition();
						&:hover {
							color: @hvr-orange;
						}
					}

					.service-list-nav {
						position: relative;
						top: 15px;
						float: right;
						@media @width-768{
							top: 20px;
						}
						@media @width-960 {
							margin-right: 20px;
						}
					}
				}
			}
			.documents{
				padding: 35px 0;
				.uk-slider{
					li{
						padding: 0px;
						.document{
							margin-bottom: 25px;
							@media @width-960{
								padding: 0 10px;
							}
							.shadow{
								box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
								margin: 3px;
								figure.image{
									overflow: hidden;
									height: 130px;
									margin: 0;
									width: 100%;
									img{
										object-fit: cover;
										height: 155px;
										width: 100%;
									}
								}
								.uk-overlay{
									.uk-overlay-panel{
										background: rgba(254,123,0,0.8);
										font-family: @secondary-font;
										font-size: @default-font-size - 2;
										font-weight: normal;
										@media @width-768m{
											opacity: 1;
										}
										span{
											padding-right: 10px;
										}
									}
								}
								div.docu-desc{
									padding: 13px 13px 20px 13px;
									p{
										margin: 0px;
										font-family: @secondary-font;
										font-weight: normal;
										font-size: @default-font-size;
										padding-bottom: 15px;
									}
									a{
										.btn-orange();
										width: auto;
										height: auto;
										padding: 6px 20px;
										&:hover{
											text-decoration: none;
										}
									}
								}
							}
						}

					}
				}
				.service-list-arrow {
					.btn-white();
					width: 37px;
					outline: none;
				}
				.uk-slidenav.uk-slidenav-previous,
				.uk-slidenav.uk-slidenav-next {
					display: block;
					color: @orange;
					.soft-transition();
					&:hover {
						color: @hvr-orange;
					}
				}
				.service-list-nav {
					position: relative;
					top: 10px;
					float: right;
					@media @width-768 {
						top: 20px;
					}
					@media @width-960 {
						margin-right: 20px;
					}
				}
				.upload-docu{
					text-align: center;
					width: 145px;
					height: 145px;
					position: relative;
					margin: 0 auto;
					overflow: hidden;
					margin-bottom: 20px;
					box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
					.upload-icon-container {
						top: 5px;
						position: absolute;
						right: 5px;
					}
					img {
						width: 100%;
						height: 145px;
						object-fit: cover;
					}
					span {
						padding: 8px;
						border-radius: 3px;
						background-color: @orange;
						color: @white;
						.soft-transition();
						&:hover {
							background-color: @hvr-orange;
						}
					}
				}
			}
		}
	}
	.uk-modal{
		.uk-close{
			font-size: @default-font-size + 8;
			.soft-transition();
		}
		h3{
			margin-top: 25px !important;
		}
		form{
			input{
				.contact-field();
				width: 100%;
				height: 40px;
				border-radius: 3px;
				border: solid 1px @gray;
				@media @width-768 {
					width: 80%;
				}
				&::placeholder {
					color: @lighergray !important;
				}
				font-size: 14px;
				font-family: @secondary-font;
				font-weight: normal;
			}
			button{
				.btn-orange();
				width: auto;
				height: auto;
				padding: 10px 28px;
				margin: 20px 0;
			}
		}
		.confirm-content{
			font-family: @secondary-font;
			font-size: @default-font-size;
			font-weight: normal;
		}
		.footer-modal{
			text-align: center;
			padding: 25px 0 15px 0;
		}
		.modal-button{
			display: inline-block;
			width: auto !important;
			height: auto !important;
			vertical-align: top;
		}
		.confirm{
			.btn-white();
			padding: 10px 20px;
		}
		.back{
			.btn-orange();
			padding: 8px 39px;
			margin-left: 15px;
			text-decoration: none;
		}
	}
}
//dashboard styles
// listing-layout
.listing-layout{
	display: none;
	h3{
		font-size: @default-font-size + 8;
		text-transform: none;
		text-align: center;
	}
	.divider-title{
		.line-title();
		margin-bottom: 15px;
	}
	.uk-grid{
		margin: 0px;
		form{
			width: 100%;
			padding: 0px;
		}
	}
	.uk-container{
		margin: 0 auto;
	}
	.checkbox-container {
		width: 100%;
		height: 40px;
		margin: 0 10px;
		margin-top: 20px;
		@media @width-768{
			margin-top: 30px;
		}
		.check-container {
			display: block;
			position: relative;
			padding-left: 35px;
			margin-bottom: 12px;
			cursor: pointer;
			user-select: none;
			font-family: @secondary-font;
			font-size: 16px;
			line-height: 1.38;
			text-align: left;
			color: @darkgray;
			.soft-transition();
			input {
				position: absolute;
				opacity: 0;
				&:checked {
					&~.checkmark {
						background-color: @darkgray;
						&:after {
							display: block;
						}
					}
				}
			}
			&:hover {
				input {
					&~.checkmark {
						border: solid @hvr-orange;
					}
				}
			}
			.checkmark {
				&:after {
					left: 6px;
					top: 2px;
					width: 5px;
					height: 10px;
					border: solid @white;
					border-width: 0 3px 3px 0;
					transform: rotate(45deg);
				}
			}
		}
		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 20px;
			width: 20px;
			background-color: @lightgray;
			border: solid @darkgray;
			border-radius: 7px;
			&:after {
				content: "";
				position: absolute;
				display: none;
			}
		}
	}
	.layout-div-1 {
		width: 100%;
		.uk-panel {
			max-width: 280px;
			height: 455px;
			background-color: @white;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
			margin: 0 auto;
			margin-bottom: 20px;
		}
		.profile-img-linear {
			.blur-effect-bg();
			width: 280px;
			height: 170px;
			object-fit: cover;
			@media @width-768 {
				width: 100%;
				height: 304px;
			}

		}
		.profile-img {
			.circle-img();
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			display: block;
			margin: auto;
			@media @width-768 {
				.circle-img-lg(); 
			}
		}
		.info-name {
			font-family: @secondary-font;
			font-size: 18px;
			text-align: left;
			color: @darkgray;
		}
		.mile-away {
			margin: -35px 43px 25px 0;
			text-align: right;
			font-family: @secondary-font;
			font-size: 12px;
			color: @blue;
			@media @width-768 {
				text-indent: 65px;
				text-align: left;
			}
		}
		.profile-content {
			padding: 10px 25px 25px 25px;
			text-align: center;
			@media @width-768 {
				padding: 40px 25px 0 25px;
				min-height: 214px;
			}
			.profile-address {
				font-family: @secondary-font;
				font-size: 16px;
				font-weight: 300;
				line-height: 1.38;
				text-align: left;
				color: @darkgray;
				margin-top: -10px;
				margin-bottom: 5px;
				@media @width-768 {
					margin: 0;
				}
			}
			.uk-panel-title {
				font-family: @secondary-font !important;
				font-family: Montserrat;
				font-size: 20px;
				text-align: left;
				color: @blue;
			}
			.readmore-div {
				font-family: @secondary-font;
				font-size: 14px;
				font-style: italic;
				line-height: 1.43;
				text-align: left;
				color: @darkgray;
				@media @width-768 {
					font-size: 12px;
					font-weight: 300;
					font-style: italic;
					line-height: 1.5;
					text-align: left;
				}
				a {
					.orange-link();
				}
			}
			.dial-container {
				text-align: left;
				position: relative;
				left: 10px;
			}
			.contact-number {
				font-family: @secondary-font;
				font-size: 18px;
				font-weight: bold;
				text-align: center;
				color: @darkgray;
				margin: -10px;
				text-decoration: none;
				.soft-transition();
				&:hover {
					color: @hvr-orange;
				}
			}
			.website-link {
				text-align: left;
				position: relative;
				left: -5px;
			}
			.website-com {
				font-family: @secondary-font;
				font-size: 12px;
				font-weight: 300;
				line-height: 1.83;
				text-align: center;
				color: @darkgray;
				margin: 5px;
				text-decoration: none;
				.soft-transition();
				&:hover {
					color: @hvr-orange;
				}
			}
		}
		.btn-container {
			width: auto;
			text-align: center;
			.sms-btn {
				.btn-blue();
				width: 100%;
				height: 50px;
				border-radius: 0;
			}
			.msg-btn {
				.btn-orange();
				width: 100%;
				height: 50px;
				border-radius: 0;
			}
			.more-info-btn {
				.btn-white();
				width: 100%;
				height: 50px;
				border-radius: 0;
				.soft-transition();
				&:hover {
					border-left: 1px solid @white;
				}
			}
		}
	} 
	.layout-1-lg {
		background-color: @white;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	}
	//layout 2
	.layout-div-2 {
		.uk-panel {
                    max-width: 280px; // height: 445px;
                    background-color: @white;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                    margin: 0 auto;
                    margin-bottom: 20px;
                }
                .profile-img-linear {
                	width: 280px;
                	height: 170px;
                	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.6));
                	object-fit: cover;
                }
                .profile-img {
                	position: absolute;
                	left: 0;
                	top: 0;
                	right: 0;
                	bottom: 0;
                	display: block;
                	margin: auto;
                	.circle-img();
                }
                .info-name {
                	font-family: @secondary-font;
                	font-size: 20px;
                	text-align: left;
                	color: @darkgray;
                }
                .mile-away {
                	margin: -35px 30px 10px 0;
                	text-align: right;
                	font-family: @secondary-font;
                	font-size: 12px;
                	color: @blue;
                	@media @width-768 {
                		text-indent: 65px;
                		text-align: left;
                	}
                }
                .uk-panel-title {
                	font-family: @secondary-font !important;
                	font-family: Montserrat;
                	font-size: 14px;
                	text-align: left;
                	color: @blue;
                }
                .profile-content {
                	padding: 30px 25px 0 25px;
                	text-align: center;
                	@media @width-768 {
                		padding: 10%;
                	}
                	.profile-address {
                		font-family: @secondary-font;
                		font-size: 16px;
                		font-weight: 300;
                		line-height: 1.38;
                		text-align: left;
                		color: @darkgray;
                		margin-top: -10px;
                		margin-bottom: 5px;
                		@media @width-768 {
                			margin: 0;
                		}
                	}
                	.readmore-div {
                		font-family: @secondary-font;
                		font-size: 14px;
                		font-style: italic;
                		line-height: 1.43;
                		text-align: left;
                		color: @darkgray;
                		@media @width-768 {
                			font-size: 12px;
                			font-weight: 300;
                			font-style: italic;
                			line-height: 1.5;
                			text-align: left;
                		}
                		a {
                			.orange-link();
                		}
                	}
                	.dial-container {
                		text-align: left;
                		position: relative;
                		left: 10px;
                	}
                	.contact-number {
                		font-family: @secondary-font;
                		font-size: 18px;
                		font-weight: bold;
                		text-align: center;
                		color: @darkgray;
                		margin: -10px;
                		text-decoration: none;
                		.soft-transition();
                		&:hover {
                			color: @hvr-orange;
                		}
                	}
                	.website-link {
                		text-align: left;
                		position: relative;
                		left: -5px;
                	}
                	.website-com {
                		font-family: @secondary-font;
                		font-size: 12px;
                		font-weight: 300;
                		line-height: 1.83;
                		text-align: center;
                		color: @darkgray;
                		margin: 5px;
                		text-decoration: none;
                		.soft-transition();
                		&:hover {
                			color: @hvr-orange;
                		}
                	}
                	.btn-container {
                		text-align: center;
                		padding: 10px 0 40px 0;
                	} 
                	.sms-container {
                		text-align: center;
                		padding: 20px 0 0 0;
                		@media @width-768 {
                			padding: 0;
                		}
                		.sms-btn {
                			.btn-blue();
                			width: 100%;
                			height: 40px;
                			border-radius: 100px;
                		}
                	}
                	.msg-btn {
                		.btn-orange();
                		width: 100%;
                		height: 40px;
                		border-radius: 100px;
                	}
                	.more-info-btn {
                		.btn-white();
                		width: 100%;
                		height: 40px;
                		border-radius: 100px;
                	}
                }
                .layout-2-lg {
                	background-color: @white;
                	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                	height: 320px;
                	margin-top: 20px;
                	@media @width-768 {
                		margin-top: 0px;
                	}
                }
                .layout-2-feature-img{
                	position: relative;
                }
                .upload-icon-container {
                	top: 10px;
                	position: absolute;
                	right: 10px;

                	span {
                		padding: 8px;
                		border-radius: 3px;
                		background-color: @orange;
                		color: @white;
                		.soft-transition();
                		&:hover {
                			background-color: @hvr-orange;
                		}
                	}

                }
                @media @width-768 {
                	.lg-cover {
                		margin: 0 !important;
                	}
                }
                
            }
            .save-container{
            	text-align: center;
            	padding: 10px 0 50px 0;
            	button.save-changes{
            		.btn-orange();
            		width: auto;
            		height: auto;
            		padding: 10px 28px;
            		margin-top: 20px;
            	}
            }
        }
// listing-layout


