// BASE IMPORT
@import '_base';
// PAGE FRAMEWORK COMPONENT IMPORT
// PAGE FRAMEWORK OVERRIDES
// PAGE SECTION STYLES
@import '../bower_components/uikit/less/components/slider.less';
@import '../bower_components/uikit/less/components/slidenav.less';
@import '../bower_components/uikit/less/components/slideshow.less';
@import '../bower_components/uikit/less/components/dotnav.less';
/* #hero, #about, #contact, etc. */


/* FEATURED SERVICES SECTION  AREA STYLES */

#subscriberContainer{

	padding-bottom: 50px;
	max-width: 85%;
	margin: 0 auto;
	height: auto;
	background-color: @white;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	margin-top: -195px;
	@media @width-768 {
		max-width: 70%;
	}
	.uk-container {
		margin: 0 auto;
		padding-bottom: 30px;

		@media @width-960{
			padding: 0 50px 30px 50px;
		}	

		figure.profile-img{
			width: 145px;
			margin: 0 auto;
			position: relative;
			margin-top: -50px;
			padding: 5px 5px 15px 5px;
			background: @white;
			border-radius: 5px;
		}

		div.subscriber-details{

			h1{
				font-family: @main-font;
				font-size: 32px;
				color: @darkgray;
				text-transform: none;
				text-align: center;
				margin: 0;
			}
			p.mile-away{
				font-family: @secondary-font;
				font-size: 12px;
				color: @blue;
				text-align: center;
				margin: 0 0 5px 0;
			}
			.uk-panel-title {
				font-family: @secondary-font !important;
				font-size: 20px;
				text-align: center;
				color: @blue;
			}
			.profile-address {
				font-family: @secondary-font;
				font-size: 18px;
				font-weight: 300;
				line-height: 1.57;
				text-align: center;
				color: @darkgray;
				margin-top: -10px;
				margin-bottom: 5px;
			}
			.dial-container {
				text-align: center;

				.contact-number {
					font-family: @secondary-font;
					font-size: 18px;
					font-weight: bold;
					text-align: center;
					color: @darkgray;
					margin: -10px;
					text-decoration: none;
					.soft-transition();
					&:hover {
						color: @hvr-orange;
					}
				}

			}
			.website-link {
				text-align: center;
				margin-top: 5px;

				.website-com {
					font-family: @secondary-font;
					font-size: 12px;
					font-weight: 300;
					line-height: 1.83;
					text-align: center;
					color: @darkgray;
					margin: 5px;
					text-decoration: none;
					.soft-transition();
					&:hover {
						color: @hvr-orange;
					}
				}

			}

		}

		.basic-info{
			text-align: center;
			padding-top: 35px;
			h3{
				font-size: 24px;
				text-transform: none;
			}
			.divider-title{
				.line-title();
				margin-bottom: 15px;
			}
			.info-headers{
				font-family: @secondary-font;
				font-size: 12px;
				font-weight: 300;
				line-height: 1.83;
				text-align: center;
				color: #444444;
				margin: 5px 0 0 0;
				font-style: italic;
			}
			.info-content{
				font-family: @secondary-font;
				font-size: @default-font-size;
				font-weight: 400;
				line-height: 1.57;
				text-align: center;
				color: @darkgray;
				margin: -3px 0 5px 0px;
			}
			.tabled-info{
				@media @width-1200{
					padding: 0 50px;
				}
				table.info{
					td{
						display: inline-block;
						vertical-align: top;
						p{
							margin: 0px;
						}
						@media @width-1200{
							&.first{
								width: 350px;
							}
							&.second{
								width: 250px;
							}
						}
					}
				}
			}
		}
		.about{
			text-align: center;
			padding-top: 50px;
			@media @width-768{
				padding: 50px 20px 0 20px;
			}
			h3{
				font-size: 24px;
				text-transform: none;
			}
			.divider-title{
				.line-title();
				margin-bottom: 15px;
			}
			.about-content{
				font-family: @secondary-font;
				font-size: @default-font-size;
				font-weight: 400;
				line-height: 1.57;
				text-align: center;
				color: @darkgray;
				font-style: italic;
			}
		}
		.services{
			text-align: center;
			padding: 50px 0 40px 0;
			h3{
				font-size: 24px;
				text-transform: none;
			}
			.divider-title{
				.line-title();
				margin-bottom: 15px;
			}

			.services-content{
				li{
					padding: 0px;
					.service{
						@media @width-960{
							padding: 0 20px;
						}
						.shadow{
							box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
							margin: 2px;
							h5{
								background: #444;
								color: @white;
								font-weight: 300;
								padding: 5px 10px;
								text-align: center;
							}
							p{
								font-size: 16px;
								padding: 0 10px 15px 10px;
								font-weight: normal;
								font-family: @secondary-font;
							}
						}
					}
				}
				

				.service-list-arrow {
					.btn-white();
					width: 37px;
					outline: none;
				}
				.uk-slidenav.uk-slidenav-previous,
				.uk-slidenav.uk-slidenav-next {
					display: block;
					color: @orange;
					.soft-transition();
					&:hover {
						color: @hvr-orange;
					}
				}

				.service-list-nav {
					position: relative;
					top: 10px;
					float: right;
					@media @width-768{
						top: 20px;
					}
					@media @width-960 {
						margin-right: 20px;
					}
				}
			}

		}
		.documents{
			text-align: center;
			padding: 50px 0 70px 0;
			h3{
				font-size: 24px;
				text-transform: none;
			}
			.divider-title{
				.line-title();
				margin-bottom: 15px;

			}

			.uk-slider{
				li{
					padding: 0px;
					.document{
						margin-bottom: 25px;
						@media @width-960{
							padding: 0 20px;
						}
						.shadow{
							box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
							margin: 3px;
							figure.image{
								overflow: hidden;
								height: 130px;
								margin: 0;
								width: 100%;
								img{
									object-fit: cover;
									height: 155px;
									width: 100%;
								}
							}
							.uk-overlay{
								.uk-overlay-panel{
									background: rgba(254,123,0,0.8);
									font-family: @secondary-font;
									font-size: @default-font-size - 2;
									font-weight: normal;
									@media @width-768m{
										opacity: 1;
									}
									span{
										padding-right: 10px;
									}
								}
							}
							div.docu-desc{
								padding: 13px;
								p{
									margin: 0px;
									font-family: @secondary-font;
									font-weight: normal;
									font-style: @default-font-size;
								}
							}
						}
					}

				}
			}
			.service-list-arrow {
				.btn-white();
				width: 37px;
				outline: none;
			}
			.uk-slidenav.uk-slidenav-previous,
			.uk-slidenav.uk-slidenav-next {
				display: block;
				color: @orange;
				.soft-transition();
				&:hover {
					color: @hvr-orange;
				}
			}
			.service-list-nav {
				position: relative;
				top: 10px;
				float: right;
				@media @width-768 {
					top: 20px;
				}
				@media @width-960 {
					margin-right: 20px;
				}
			}
		}
	}
	.testimonials{
		background: @blue;
		.uk-grid{
			margin: 0px;
		}
		.testimonials-container{
			padding: 0 0 70px 0;
			.uk-slideshow{
				li{
					padding: 0px;
					.testimonial{
						figure.image{
							width: 80px;
							height: 80px;
							overflow: hidden;
							margin: 0 auto;
							border-radius: 50%;
							margin-top: 25px;
						}
						.testimonial-desc{
							padding: 25px;
							p, h2, h3{
								color: @white;
								text-align: center;
							}
							p{
								font-family: @main-font;
								font-weight: 300;
								font-size: 18px;
								line-height: 27px;
							}
							h2{
								font-family: @secondary-font !important;
								text-transform: none;
								margin: 0 0 10px 0;
							}
							h3{
								font-family: @secondary-font !important;
								text-transform: none;
								margin: 0;
							}
						}
					}
				}
			}
		}
		.subscriber-map{
			position: relative;
			padding: 0;
			iframe{
				@media @width-768{
					height: 100%;
				}
			}
		}
		.uk-dotnav{
			margin-bottom: -40px;
			.uk-active > *{
				background: #444444;
			}
			& > * > * {
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
				background: #fff;
				width: 12px;
				height: 12px;
			}
			li{
				padding-left: 5px;
				a{
					.soft-transition();
				}
			}
		}
	}
	.action-buttons{
		text-align: center;
		margin-top: 30px;
		.sms-btn{
			.btn-blue();
		}
		.msg-btn{
			.btn-orange();
		}
		.sms-btn, .msg-btn{
			display: inline-block;
			width: auto;
			height: auto;
			padding: 6px 10px;
			margin: 0 5px;
		}
	}
	.bottom-buttons{
		margin-top: 50px;
	}
}
