// BASE IMPORT
@import '_base';
// PAGE FRAMEWORK COMPONENT IMPORT
// @import '../bower_components/uikit/less/components/slideshow.less';
// @import '../bower_components/uikit/less/components/dotnav.less';
@import '../bower_components/uikit/less/components/slider.less';
@import '../bower_components/uikit/less/components/slidenav.less';
// PAGE FRAMEWORK OVERRIDES
// PAGE SECTION STYLES

/* #hero, #about, #contact, etc. */


/* FEATURED SERVICES SECTION  AREA STYLES */

#featured-services-section {
	background-color: @lightgray;
	padding: 70px 0 70px 0;
	@media @width-768 {
		padding: 10% 0 10% 0;
	}
	text-align: center;
	.uk-container {
		margin: 0 auto;
	}
	.featured-container {
		h3 {
			font-size: 24px;
			text-align: center;
			text-transform: uppercase;
		}
		.divider-title {
			.line-title();
		}
		.featured-grid-container {
			margin-top: 30px;
			margin-bottom: -31px;
			@media @width-1366 {
				margin-bottom: -15px;
			}
		}
		h5 {
			background: transparent;
			border: 2px solid @white;
			padding: 14px 20px!important;
			width: auto;
			margin: 0 20px 0 20px;
			font-family: @main-font;
			font-size: 20px;
			font-weight: 600;
			text-align: center;
			color: @white;
		}
		.feautured-list {
			margin: 0 0 20px 0;
		}
		.uk-overlay-panel {
			background-color: rgba(255, 255, 255, 0.9);
			.soft-transition();
		}
		.feat-content-hvr {
			background-color: rgba(255, 255, 255, 0.9);
			border: 2px solid @blue;
			height: 100%;
			.feat-title-hvr {
				border: 0 !important;
				padding: 0 !important;
				font-family: @main-font;
				font-size: 20px;
				font-weight: 600;
				text-align: center;
				color: @blue;
			}
			p {
				font-family: @secodary-font;
				font-size: 16px;
				line-height: 1.38;
				text-align: center;
				color: @darkgray;
			}
			.feat-content-area {
				margin: 15px;
				@media @width-768 {
					text-align: center;
					margin: 0 auto;
					padding: 50px 20px 50px 20px;
				}
			}
			.feat-services-btn {
				text-align: center;
				.feat-search-brn {
					.btn-orange();
					width: 109.1px;
					height: 36.6px;
					margin: 0 35px 0 35px;
				}
			}
		}
	}
}


/* END FEATURED SERVICES SECTION  AREA STYLES */