// BASE IMPORT
@import '_base';
// PAGE FRAMEWORK COMPONENT IMPORT
// @import '../bower_components/uikit/less/components/slideshow.less';
// @import '../bower_components/uikit/less/components/dotnav.less';
@import '../bower_components/uikit/less/components/slider.less';
@import '../bower_components/uikit/less/components/slidenav.less';
// PAGE FRAMEWORK OVERRIDES
// PAGE SECTION STYLES

/* #hero, #about, #contact, etc. */


/* SEARCH BANNER AREA */

#search-banner-white-section {
    background-color: @white;
    height: 320px;
    .uk-container {
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .form-container {
        margin: 0 auto;
        text-align: center;
        .uk-form-icon {
            // @media @width-640 {
            //     padding: 10px;
            // }
        }
    }
    .search-banner-container {
        margin: 95px auto;
        text-align: center;
        .search-banner-title {
            padding-bottom: 20px;
            @media @width-768 {
                height: 90px;
                padding-top: 20%;
                position: relative;
                bottom: 0;
                left: 0;
                right: 0;
                padding-bottom: 0;
            } // @media @width-960 {
            //     height: 30px;
            // }
        }
        h1 {
            // height: 156px;
            font-family: @main-font;
            font-size: 30px;
            font-weight: 300;
            text-align: center;
            color: @white;
            text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
        }
        p {
            width: 128px;
            font-family: @secodary-font;
            font-size: 16px;
            line-height: 1.38;
            text-align: left;
            color: @darkgray;
            font-weight: @font-regular;
            margin: 0 0 5px 0;
        }
        ul {
            list-style: none;
            margin: 0 auto;
            padding: 0;
            @media @width-768 {
                display: inline-flex;
                li {
                    padding: 10px;
                }
            }
        }
        form {
            input {
                .contact-field();
                color: @lighergray;
                width: 260px;
                height: 50px;
                padding-left: 50px!important;
                border: solid 1px @blue;
                @media @width-768 {
                    width: 200px;
                }
                @media @width-960 {
                    width: 310px;
                }
            }
            .search-input {
                margin-top: -10px;
                span {
                    color: @blue;
                    font-size: 20px;
                    top: 56%;
                    left: 5%;
                }
            }
            .find-btn {
                .btn-orange(); // margin: 0 45px 0 45px;
            }
        }
        .btn-find-con {
            position: relative;
            margin-bottom: 400px;
            @media @width-768 {
                top: 17px; // left: 10px;
            }
        }
    }
}


/* END SEARCH BANNER AREA */